<!--
SPDX-FileCopyrightText: 2017-2021 City of Espoo

SPDX-License-Identifier: LGPL-2.1-or-later
-->
<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{shared/layout}"
>
  <body>
    <div layout:fragment="content">
      <div class="page first-page">
        <h1 th:text="#{decision.title}"></h1>
        <div th:replace="~{ shared/common :: child-and-unit-details}"></div>

        <p th:utext="#{decision.instructions}"></p>
      </div>

      <div class="page">
        <p th:utext="#{decision.legalInstructions}"></p>
        <div th:replace="~{ shared/common :: decision-details }"></div>
      </div>

      <div class="page">
        <div th:replace="~{shared/daycare-correction :: correction}"></div>
      </div>

      <div class="page last-page">
        <h1 th:text="#{decision.acceptance.title}"></h1>
        <div class="accept-placement-wrapper">
          <div
            th:replace="~{shared/acceptance-form :: daycare-unit-details}"
          ></div>
          <p th:utext="#{decision.acceptance.furtherInstructions}"></p>
          <div th:replace="~{shared/acceptance-form :: signatures}"></div>
        </div>
      </div>
    </div>
  </body>
</html>
