/*
 * SPDX-FileCopyrightText: 2017-2020 City of Espoo
 *
 * SPDX-License-Identifier: LGPL-2.1-or-later
 */

.invoice-details-page {
  .close-container {
    margin-top: 30px;
    margin-bottom: -30px;
  }

  .invoice-sum {
    background: ghostwhite;
    padding: 1rem;
    margin: 1rem 0;
  }

  .invoice-sum-price {
    float: right;
  }

  .invoice-rows {
    .indent {
      margin-left: 30px;
    }

    input[type='number'] {
      max-width: 80px;
    }

    .date-range {
      cursor: pointer;
    }

    .remove-row-container {
      margin: -16px;
      padding: 16px;
    }
  }

  .buttons {
    margin: 32px 16px;
    margin-bottom: 0;
    justify-content: flex-end;
  }
}
