/*
 * SPDX-FileCopyrightText: 2017-2020 City of Espoo
 *
 * SPDX-License-Identifier: LGPL-2.1-or-later
 */

.fee-alteration-list-container {
  .fee-alteration-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .description {
      display: flex;
      flex-direction: column;
    }

    .buttons {
      button:nth-child(2) {
        margin-left: 0.5rem;
      }
    }
  }
}
