/*
 * SPDX-FileCopyrightText: 2017-2020 City of Espoo
 *
 * SPDX-License-Identifier: LGPL-2.1-or-later
 */

@mixin flexAlignItems() {
  &.flex-align-items {
    &-end {
      align-items: flex-end;
    }
    &-start {
      align-items: flex-start;
    }
    &-center {
      align-items: flex-center;
    }
  }
}

 @mixin flexJustifyContent() {
  &.flex-justify-content {
    &-end {
      justify-content: flex-end;
    }
    &-start {
      justify-content: flex-start;
    }
    &-center {
      justify-content: flex-center;
    }
  }
}

@mixin flex() {
  &.-flex {
    &-1 {
      flex: 1;
    }
    &-0 {
      flex-grow: 0;
    }
  }
}

.layout {
  &-column {
    display: flex;
    flex-direction: column;

    @include flexAlignItems();
    @include flexJustifyContent();
    @include flex();
  }

  &-row {
    display: flex;
    flex-direction: row;

    @include flexAlignItems();
    @include flexJustifyContent();
    @include flex();
  }

  &-flex {
    @include flex();
  }
}
