/*
 * SPDX-FileCopyrightText: 2017-2020 City of Espoo
 *
 * SPDX-License-Identifier: LGPL-2.1-or-later
 */

$section-margin: 40px !default;

.content-section {
  margin-bottom: $section-margin;

  &.align-content-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
