/*
 * SPDX-FileCopyrightText: 2017-2020 City of Espoo
 *
 * SPDX-License-Identifier: LGPL-2.1-or-later
 */

$button-font-size: 0.9rem !default;

$button-border-color: $primary !default;
$button-border-width: $control-border-width !default;

$button-padding-vertical: calc(0.375em - #{$button-border-width}) !default;
$button-padding-horizontal: 0.75em !default;

$button-color: $primary !default;
$button-background-color: transparent !default;

$button-hover-color: $primary-dark !default;
$button-hover-border-color: $primary-dark !default;

$button-focus-color: $primary !default;
$button-focus-border-color: $primary !default;
$button-focus-box-shadow-size: 0 0 10px 0 !default;
$button-focus-box-shadow-color: rgba($link, 0.25) !default;

$button-active-color: $primary-darker !default;
$button-active-border-color: $primary-darker !default;

$button-disabled-color: $grey-light !default;
$button-disabled-border-color: $grey-light !default;
$button-disabled-shadow: none !default;
$button-disabled-opacity: 1 !default;

// The button sizes use mixins so they can be used at different breakpoints
@mixin button-small {
  border-radius: $radius-small;
  font-size: $size-small;
}

@mixin button-normal {
  font-size: $size-normal;
}

@mixin button-medium {
  font-size: $size-medium;
}

@mixin button-large {
  font-size: $size-large;
}

@mixin plain {
  border-color: transparent;
  background-color: transparent;

  &:hover,
  &:focus,
  .is-hovered,
  .is-focused {
    border-color: transparent;
    background-color: transparent;
  }
  &:active,
  &.is-active {
    border-color: transparent;
    background-color: transparent;
  }
  &[disabled] {
    border-color: transparent;
    background-color: transparent;
  }
}

.button {
  @extend %unselectable;
  @extend %control;
  background-color: $button-background-color;
  border-color: $button-border-color;
  border-width: $button-border-width;
  color: $button-color;
  cursor: pointer;
  justify-content: center;
  padding-bottom: $button-padding-vertical;
  padding-left: $button-padding-horizontal;
  padding-right: $button-padding-horizontal;
  padding-top: $button-padding-vertical;
  text-align: center;
  white-space: nowrap;

  text-transform: uppercase;
  font-size: $button-font-size;
  font-weight: $weight-semibold;
  min-width: 7em;
  height: 3em;
  border-radius: 2px;

  strong {
    color: inherit;
  }

  &.is-wide {
    width: 250px;
  }

  &.is-full {
    width: 100%;
  }

  &.is-narrow {
    min-width: 3em;
  }

  &.is-default-case {
    text-transform: none;
  }

  // States
  &:hover,
  &.is-hovered {
    border-color: $button-hover-border-color;
    color: $button-hover-color;
  }

  &:focus,
  &.is-focused {
    color: $button-focus-color;
  }

  &:active,
  &.is-active {
    border-color: $button-active-border-color;
    color: $button-active-color;
  }

  // Modifiers
  &[disabled],
  fieldset[disabled],
  &.is-disabled {
    border-color: $button-disabled-border-color;
    color: $button-disabled-color;
    box-shadow: $button-disabled-shadow;
    opacity: $button-disabled-opacity;
    cursor: not-allowed;
  }

  &.is-round-icon {
    border-radius: 100%;
    width: 1.5em;
    height: 1.5em;
    min-width: 1.5em;
    font-size: $button-font-size * 1.3;
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    margin: 0;

    &.is-small {
      font-size: $size-small * 1.3;
    }

    &.is-medium {
      font-size: $size-medium * 1.3;
    }

    &.is-large {
      font-size: $size-large * 1.3;
    }

    &.is-xlarge {
      font-size: 30px;
      width: 65px;
      height: 65px;
      min-width: 65px;
    }

    .icon:first-child:last-child,
    .icon {
      padding: 0;
      margin: 0;
      height: auto;
      width: auto;
    }

    @each $name, $pair in $colors {
      $color: nth($pair, 1);

      &.is-#{$name} {
        background-color: $color;
        color: white;

        &:hover,
        &.is-hovered {
          background-color: darken($color, 2.5%);
        }

        &:active,
        &.is-active {
          background-color: darken($color, 5%);
          border-color: transparent;
        }
      }
    }
  }

  &.is-secondary {
    color: $grey-dark;

    // States
    &:hover,
    &.is-hovered {
      color: $grey;
    }

    &:focus,
    &.is-focused {
      color: $grey-darker;
    }

    &:active,
    &.is-active {
      color: $grey-dark;
    }
  }

  &.is-dark {
    border-color: $grey-light;
    color: $grey-dark;

    // States
    &:hover,
    &.is-hovered {
      border-color: $grey-lighter;
      color: $grey;
    }

    &:focus,
    &.is-focused {
      border-color: $grey;
      color: $grey-darker;
    }

    &:active,
    &.is-active {
      border-color: $grey;
      color: $grey-dark;
    }
  }

  &.is-plain {
    @include plain;
  }

  &.is-primary {
    background-color: $primary;
    border-color: transparent;
    color: $primary-invert;

    &:hover,
    &.is-hovered {
      background-color: $primary-dark;
      border-color: transparent;
      color: $primary-dark-invert;
    }

    &:focus,
    &.is-focused {
      border-color: transparent;
      color: $primary-invert;
    }

    &:active,
    &.is-active {
      background-color: $primary-darker;
      border-color: transparent;
      color: $primary-darker-invert;
    }

    &[disabled],
    fieldset[disabled],
    &.is-disabled {
      background-color: $button-disabled-color;
      border-color: transparent;
      box-shadow: none;
    }

    // These are here for backwards compatibility
    &.is-outlined,
    &.is-borderless {
      background-color: transparent;
      border-color: $primary;
      color: $primary;
      &:hover,
      &:focus,
      .is-hovered,
      .is-focused {
        background-color: transparent;
        border-color: $primary;
        color: $primary;
      }
      &:active,
      &.is-active {
        background-color: transparent;
        border-color: shade($primary, $dark-percent);
        color: shade($primary, $dark-percent);
      }
    }

    &.is-borderless {
      @include plain;
    }
  }

  &.has-icon {
    svg {
      margin-right: 8px;
    }
  }

  &:focus {
    outline: none;
  }
}

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;

  &.is-centered {
    justify-content: center;
  }

  >* {
    margin-bottom: 0.5rem;
  }

  @include from($tablet) {
    flex-direction: row;
    >* {
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }
}
