/*
 * SPDX-FileCopyrightText: 2017-2020 City of Espoo
 *
 * SPDX-License-Identifier: LGPL-2.1-or-later
 */

.date-range-input-container {
  display: flex;
  flex-direction: row;

  .date-input-container {
    margin-left: 8px;
  }

  .date-input-container:first-child {
    margin-left: 0;
  }
}
