/*
 * SPDX-FileCopyrightText: 2017-2020 City of Espoo
 *
 * SPDX-License-Identifier: LGPL-2.1-or-later
 */

.accordion-collapse-wrapper {
  .toolbar {
    display: flex;
    justify-content: flex-end;
  }
  .column.is-5 {
    width: 41.6666666667% !important;
  }
}

.accordion-content {
  margin: 10px 0;
}

.collapsible.is-open .accordion-content {
  margin-bottom: 40px;
}
