<!--
SPDX-FileCopyrightText: 2021 City of Oulu

SPDX-License-Identifier: LGPL-2.1-or-later
-->

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="daycare-correction">
    <h2 th:text="#{title}"></h2>
    <div class="correction-content">
        <p th:utext="#{daycare.p1}"></p>
        <p th:utext="#{daycare.p2}"></p>
    </div>

    <div class="correction-content">
        <div th:utext="#{address.content}">Oikaisuvaatimus toimitetaan joko....</div>
    </div>

</th:block>

<th:block th:fragment="daycare-voucher-correction">
    <h2 th:text="#{title}"></h2>
    <div class="correction-content">
        <p th:utext="#{daycare.voucher.p1}"></p>
        <p th:utext="#{daycare.voucher.p2}"></p>
    </div>

    <div class="correction-content">
        <div th:utext="#{address.content}">Oikaisuvaatimus toimitetaan joko....</div>
    </div>

</th:block>

<th:block th:fragment="preschool-correction">
    <h2 th:utext="#{preschool.title}"></h2>
    <div class="correction-content">
        <p th:utext="#{preschool.p1}"></p>
        <p th:utext="#{preschool.p2}"></p>
    </div>

    <div class="correction-content">
        <div th:utext="#{preschool.complaint.instructions}">Valituskirja....</div>
    </div>

</th:block>

<th:block th:fragment="correction">
    <h2 th:text="#{title}"></h2>
    <div class="correction-content">
        <p th:utext="#{content.p1}"></p>
        <p th:utext="#{content.p2}"></p>
        <p th:utext="#{content.p3}"></p>
        <p th:utext="#{content.p4}"></p>
        <p th:utext="#{content.p5}"></p>
    </div>

    <div class="correction-content">
        <div th:utext="#{address.content}">Oikaisuvaatimus toimitetaan joko....</div>
    </div>

</th:block>
</body>
</html>
