# SPDX-FileCopyrightText: 2017-2020 City of Espoo
#
# SPDX-License-Identifier: LGPL-2.1-or-later

*
!src
src/lib-customizations/**/*
!src/lib-customizations/defaults
!src/lib-customizations/defaults/**/*
!src/lib-customizations/*.ts
!src/lib-customizations/*.json
!src/lib-customizations/*.tsx
!packages
!public
!vendor
!*.json
!*.lock
!*.js
!*.ts
!*.sh

!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarnrc.yml

!eslint-plugin
!espoo-customizations

!node_modules/@fortawesome/pro-*
!proxy/files/
