# SPDX-FileCopyrightText: 2017-2020 City of Espoo
#
# SPDX-License-Identifier: LGPL-2.1-or-later

*
!src
src/lib-customizations/espoo
!packages
!vendor
!*.json
!*.lock
!*.js
!*.mjs
!*.sh

!.yarn/releases
!.yarn/plugins
!.yarnrc.yml

!eslint-plugin/*.js
!eslint-plugin/*.json
!eslint-plugin/rules

!espoo-customizations

!node_modules/@fortawesome/pro-*
!proxy/files/
