# SPDX-FileCopyrightText: 2017-2023 City of Espoo
#
# SPDX-License-Identifier: LGPL-2.1-or-later

node_modules/
eslint-plugin/tsconfig.tsbuildinfo
.cache/
.idea/
*.iml
dist/
*~
*.bak
*.log
*.swp
*.tmp
.npmrc
test-results
junit.xml
.DS_Store
.vscode
screenshots/
traces/
.yalc
yalc.lock

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

eslint-plugin/tsconfig.tsbuildinfo

src/lib-customizations/**/*
!src/lib-customizations/defaults
!src/lib-customizations/defaults/**/*
!src/lib-customizations/espoo
!src/lib-customizations/espoo/**/*
!src/lib-customizations/README.md
!src/lib-customizations/*.ts
!src/lib-customizations/*.json
!src/lib-customizations/*.tsx

playwright-filenames.txt

espoo-customizations/
