node_modules/
.cache/
.idea/
*.iml
dist/
*~
*.bak
*.log
*.swp
*.tmp
.npmrc
test-results
junit.xml
.DS_Store
.vscode
e2e-test/screenshots/
.yalc
yalc.lock
**/storybook-build/

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

src/lib-customizations/**/*
!src/lib-customizations/espoo/**/*
!src/lib-customizations/*.ts
!src/lib-customizations/*.json
!src/lib-customizations/*.tsx
