# SPDX-FileCopyrightText: 2017-2020 City of Espoo
#
# SPDX-License-Identifier: LGPL-2.1-or-later

*

!service/*.kts

!service/gradle/wrapper
!service/gradlew
!service/gradle.properties
!service/owasp-suppressions.xml
!service/src
!service/*.sh
service/build-docker.sh
service/ci-build.sh

!service/buildSrc/*.kts
!service/buildSrc/src

!service/codegen/*.kts
!service/codegen/src

!service/custom-ktlint-rules/build.gradle
!service/custom-ktlint-rules/custom-ktlint-rules.jar
!service/custom-ktlint-rules/gradle/wrapper
!service/custom-ktlint-rules/gradlew
!service/custom-ktlint-rules/settings.gradle.kts
!service/custom-ktlint-rules/src

!service/vtjclient/*.kts
!service/vtjclient/src

!service/sficlient/*.kts
!service/sficlient/src

!evaka-bom/build.gradle.kts

!service-lib/*.kts
!service-lib/src

!espoo-customizations
