# SPDX-FileCopyrightText: 2017-2020 City of Espoo
#
# SPDX-License-Identifier: LGPL-2.1-or-later

*

!service/*.kts

!service/.editorconfig
!service/gradle/wrapper
!service/gradle/libs.versions.toml
!service/gradlew
!service/gradle.properties
!service/owasp-suppressions.xml
!service/src
!service/*.sh
!service/certificates/
!service/dd-jmxfetch/

!service/codegen/*.kts
!service/codegen/src

!service/custom-ktlint-rules/*.kts
!service/custom-ktlint-rules/src

!service/evaka-bom/*.kts
!service/evaka-bom/src

!service/service-lib/*.kts
!service/service-lib/src

!service/sficlient/*.kts
!service/sficlient/src

!service/sarmamodel/*.kts
!service/sarmamodel/src

!service/vtjclient/*.kts
!service/vtjclient/src

!frontend/src/
