<!--
SPDX-FileCopyrightText: 2017-2020 City of Espoo

SPDX-License-Identifier: LGPL-2.1-or-later
-->

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style th:replace="~{daycare/daycare-decision-css.html}"></style>
  <style th:replace="~{ipost/ipost-letter.html :: css}"></style>
  <!--  <style th:replace="~{ipost/ipost-letter.html :: guides}"></style>-->
</head>
<body>
<div th:replace="~{ ipost/ipost-letter :: page(~{ :: content})}">
  <div th:fragment="content">
    <div th:replace="~{daycare/transfer/daycare-decision-common :: header}"></div>

    <div class="content-wrapper">
      <h4 class="page-title spacing-before-title" th:text="#{title}"></h4>

      <div class="accept-placement-wrapper">

        <div th:replace="~{shared/acceptance-form :: daycare-unit-details}"></div>

        <p>
          <span th:text="#{accept.text.1} + ': '"></span>
          <span th:if="${isPartTimeDecision}" th:text="#{accept.text.partTime}"></span>
          <span th:unless="${isPartTimeDecision}" th:text="#{accept.text.fullTime}"></span>
        </p>
        <p th:utext="#{accept.text.2}"></p>

        <div th:replace="~{shared/acceptance-form :: signatures}"></div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
