<!--
SPDX-FileCopyrightText: 2017-2020 City of Espoo

SPDX-License-Identifier: LGPL-2.1-or-later
-->

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>

<span th:fragment="decision-date">
    <div class="detail" th:text="#{text.decision.sentDate(${#temporals.format(decision.sentDate, 'd.M.yyyy')})}"></div>
</span>

<span th:fragment="placement-dates">
  <span th:text="${#temporals.format(decision.startDate, 'd.M.yyyy')}
                  + ' - ' +
                  ${#temporals.format(decision.endDate, 'd.M.yyyy')}"></span>
</span>

<span th:fragment="format-date (myDate)">
    <span th:text="${#temporals.format(myDate, 'd.M.yyyy')}"></span>
</span>

</body>
</html>
