<!--
SPDX-FileCopyrightText: 2017-2023 City of Espoo

SPDX-License-Identifier: LGPL-2.1-or-later
-->
<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{shared/layout}"
>
  <body>
    <div layout:fragment="content">
      <div class="page first-page">
        <strong th:text="#{decision.title}"></strong>
        <div class="child-details">
          <p>
            <strong th:text="#{decision.details.child.prefix}"
              >Lapsellenne</strong
            >
            <span
              th:text="#{decision.details.child(${decision.child.name}, ${#temporals.format(decision.child.dateOfBirth, 'd.M.yyyy')})}"
              >Etunimi Sukunimi (s. 1.1.2000)</span
            >
            <br />
            <span th:utext="#{decision.details.date}"></span>
            <span
              th:replace="~{shared/common :: date-range(${decision.form.validFrom}, ${validTo})}"
            ></span>
          </p>
          <p>
            <span th:text="#{decisionStatus}"></span>
            <strong th:text="#{${'statuses.' + decision.status}}"></strong>
          </p>
        </div>

        <div class="decision-details-container">
          <h2 th:text="#{decidedAssistance}"></h2>

          <div class="decision-details">
            <h3 th:text="#{decisionType}"></h3>
            <div th:text="#{'decisionType.' + ${decision.form.type}}"></div>
          </div>

          <div class="decision-details">
            <h3 th:text="#{extendedCompulsoryEducationTitle}"></h3>
            <div th:if="${decision.form.extendedCompulsoryEducation}">
              <ul>
                <li th:text="#{extendedCompulsoryEducationYes}"></li>
              </ul>
              <div class="multi-line" th:text="${decision.form.extendedCompulsoryEducationInfo}"></div>
            </div>
            <div th:if="${!decision.form.extendedCompulsoryEducation}">
              <ul>
                <li th:text="#{no}"></li>
              </ul>
            </div>
          </div>

          <div class="decision-details">
            <h3 th:text="#{grantedServices}"></h3>
            <ul>
              <li th:if="${decision.form.grantedAssistanceService}" th:text="#{grantedAssistanceService}"></li>
              <li th:if="${decision.form.grantedInterpretationService}" th:text="#{grantedInterpretationService}"></li>
              <li th:if="${decision.form.grantedAssistiveDevices}" th:text="#{grantedAssistiveDevices}"></li>
              <li
                      th:if="${!decision.form.grantedAssistanceService && !decision.form.grantedInterpretationService && !decision.form.grantedAssistiveDevices}"
                      th:text="#{grantedNothing}"
              ></li>
            </ul>
          </div>

          <div class="decision-details" th:if="${decision.form.grantedServicesBasis != ''}">
            <h3 th:text="#{grantedServicesBasis}"></h3>
            <div class="multi-line" th:text="${decision.form.grantedServicesBasis}"></div>
          </div>

          <div class="decision-details">
            <h3 th:text="#{selectedUnit}"></h3>
            <div>
              <div th:text="${decision.unitName}"></div>
              <div
                th:text="${decision.unitStreetAddress} + ', ' + ${decision.unitPostalCode} + ' ' + ${decision.unitPostOffice}"
              ></div>
            </div>
          </div>

          <div class="decision-details" th:text="#{unitMayChange}"></div>

          <div class="decision-details">
            <h3 th:text="#{primaryGroup}"></h3>
            <div th:text="${decision.form.primaryGroup}"></div>
          </div>

          <div class="decision-details">
            <h3 th:text="#{decisionBasis}"></h3>
            <div class="multi-line" th:text="${decision.form.decisionBasis}"></div>
          </div>

          <div class="decision-details">
            <h3 th:text="#{basisDocuments}"></h3>
            <ul>
              <li
                th:if="${decision.form.basisDocumentPedagogicalReport}"
              >
                <span th:text="#{basisDocumentPedagogicalReport}"></span>
                <span
                  th:if="${decision.form.basisDocumentPedagogicalReportDate}"
                  th:replace="~{shared/common :: format-date(${decision.form.basisDocumentPedagogicalReportDate})}"
                ></span>
              </li>
              <li
                th:if="${decision.form.basisDocumentPsychologistStatement}"
              >
                <span th:text="#{basisDocumentPsychologistStatement}"></span>
                <span
                  th:if="${decision.form.basisDocumentPsychologistStatementDate}"
                  th:replace="~{shared/common :: format-date(${decision.form.basisDocumentPsychologistStatementDate})}"
                ></span>
              </li>
              <li
                th:if="${decision.form.basisDocumentSocialReport}"
              >
                <span th:text="#{basisDocumentSocialReport}"></span>
                <span
                  th:if="${decision.form.basisDocumentSocialReportDate}"
                  th:replace="~{shared/common :: format-date(${decision.form.basisDocumentSocialReportDate})}"
                ></span>
              </li>
              <li
                th:if="${decision.form.basisDocumentDoctorStatement}"
              >
                <span th:text="#{basisDocumentDoctorStatement}"></span>
                <span
                  th:if="${decision.form.basisDocumentDoctorStatementDate}"
                  th:replace="~{shared/common :: format-date(${decision.form.basisDocumentDoctorStatementDate})}"
                ></span>
              </li>
              <li
                th:if="${decision.form.basisDocumentOtherOrMissing}"
                th:text="${decision.form.basisDocumentOtherOrMissingInfo}"
              ></li>
            </ul>
          </div>

          <div class="decision-details" th:if="${decision.form.basisDocumentsInfo != ''}">
            <h3 th:text="#{basisDocumentsInfo}"></h3>
            <div class="multi-line" th:text="${decision.form.basisDocumentsInfo}"></div>
          </div>
        </div>

        <div class="decision-details-container">
          <h2 th:text="#{collaborationWithGuardians}"></h2>
          <div class="decision-details">
            <h3 th:text="#{guardiansHeardAt}"></h3>
            <div th:replace="~{shared/common :: format-date(${decision.form.guardiansHeardOn})}"></div>
          </div>
          <div class="decision-details">
            <h3 th:text="#{guardiansHeard}"></h3>
            <ul>
              <li
                th:each="guardian : ${decision.form.guardianInfo}"
                th:if="${guardian.isHeard} == true"
              >
                <span th:text="${guardian.name}"></span>
                <span
                  th:text="': ' + ${guardian.details}"
                  th:if="${guardian.details} != null"
                ></span>
              </li>
              <li
                th:if="${decision.form.otherRepresentativeHeard}"
                th:text="${decision.form.otherRepresentativeDetails}"
              ></li>
            </ul>
          </div>
          <div class="decision-details">
            <h3 th:text="#{viewOfTheGuardians}"></h3>
            <div class="multi-line" th:text="${decision.form.viewOfGuardians}"></div>
          </div>
        </div>

        <div class="decision-details-container">
          <h2 th:text="#{legalInstructions}"></h2>
          <p th:text="#{legalInstructionsText}"></p>
          <p th:text="#{legalInstructionsTextExtendedCompulsoryEducation}"
             th:if="${decision.form.extendedCompulsoryEducation}"></p>
        </div>

        <div class="decision-details-container">
          <h2 th:text="#{jurisdiction}"></h2>
          <p th:text="#{jurisdictionText}"></p>
        </div>

        <div class="decision-details-container">
          <h2 th:text="#{personsResponsible}"></h2>
          <div class="decision-details">
            <h3 th:text="#{preparator}"></h3>
            <div>
              <div>
                <span th:text="${decision.preparer1Name}"></span>,
                <span th:text="${decision.form.preparer1Title}"></span>
              </div>
              <div th:text="${decision.form.preparer1PhoneNumber}"></div>
            </div>
          </div>
          <div class="decision-details" th:if="${decision.form.preparer2EmployeeId} != null">
            <h3 th:text="#{preparator}"></h3>
            <div>
              <div>
                <span th:text="${decision.preparer2Name}"></span>,
                <span th:text="${decision.form.preparer2Title}"></span>
              </div>
              <div th:text="${decision.form.preparer2PhoneNumber}"></div>
            </div>
          </div>
          <div class="decision-details">
            <h3 th:text="#{decisionMaker}"></h3>
            <div>
              <span th:text="${decision.decisionMakerName}"></span>,
              <span th:text="${decision.form.decisionMakerTitle}"></span>
            </div>
          </div>
          <p>
            <span th:text="#{decisionMadeOn}"></span>
            <span
              th:replace="~{shared/common :: format-date(${decision.decisionMade})}"
            ></span>
          </p>
        </div>
      </div>

      <div class="page">
        <h2 th:text="#{appealInstructionTitle}"></h2>
        <div th:utext="#{appealInstructions}"></div>
      </div>
    </div>
  </body>
</html>
