<!--
SPDX-FileCopyrightText: 2017-2021 City of Espoo

SPDX-License-Identifier: LGPL-2.1-or-later
-->
<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{shared/layout}"
>
  <body>
    <th layout:fragment="header">
      <header th:replace="~{ shared/common :: feeDecisionHeader}"></header>
    </th>

    <div layout:fragment="address">
      <div th:text="${headFullName}"></div>
      <div th:if="${partnerIsCodebtor}" th:text="${partnerFullName}"></div>
    </div>

    <div layout:fragment="content">
      <div class="page first-page">
        <h1 th:if="${isReliefDecision}" th:text="#{text.relief.title}"></h1>
        <h1 th:unless="${isReliefDecision}" th:text="#{text.title}"></h1>

        <p
          th:if="${decisionType == 'RELIEF_ACCEPTED'}"
          th:text="#{text.relief.accepted}"
        ></p>
        <p
          th:if="${decisionType == 'RELIEF_PARTLY_ACCEPTED'}"
          th:text="#{text.relief.partlyAccepted}"
        ></p>
        <p
          th:if="${decisionType == 'RELIEF_REJECTED'}"
          th:text="#{text.relief.rejected}"
        ></p>

        <p
          th:if="${isReliefDecision}"
          th:text="${showValidTo}? #{text.relief.decision_retroactive(${totalFee}, ${validFor})} : #{text.relief.decision(${totalFee}, ${validFrom})}"
        ></p>
        <p
          th:unless="${isReliefDecision}"
          th:text="${showValidTo}? #{text.decision_retroactive(${totalFee}, ${validFor})} : #{text.decision(${totalFee}, ${validFrom})}"
        ></p>

        <p th:text="#{text.table.intro}"></p>

        <table class="full-width">
          <tbody>
            <tr>
              <td th:text="${headFullName}"></td>

              <td class="text-right" th:switch="${headIncomeEffect}">
                <span
                  th:case="'MAX_FEE_ACCEPTED'"
                  th:text="#{text.income.max_fee_accepted}"
                ></span>
                <span
                  th:case="'INCOMPLETE'"
                  th:text="#{text.income.incomplete}"
                ></span>
                <span th:case="'INCOME'" th:text="${headIncomeTotal}"></span>
                <span
                  th:case="'NOT_AVAILABLE'"
                  th:text="#{text.income.not_available}"
                ></span>
              </td>
            </tr>
            <tr th:if="${hasPartner}">
              <td th:text="${partnerFullName}"></td>
              <td class="text-right" th:switch="${partnerIncomeEffect}">
                <span
                  th:case="'MAX_FEE_ACCEPTED'"
                  th:text="#{text.income.max_fee_accepted}"
                ></span>
                <span
                  th:case="'INCOMPLETE'"
                  th:text="#{text.income.incomplete}"
                ></span>
                <span th:case="'INCOME'" th:text="${partnerIncomeTotal}"></span>
                <span
                  th:case="'NOT_AVAILABLE'"
                  th:text="#{text.income.not_available}"
                ></span>
              </td>
            </tr>
            <tr th:if="${showTotalIncome}">
              <td th:text="#{text.table.combined}"></td>
              <td class="text-right" th:text="${totalIncome}"></td>
            </tr>
            <tr th:if="${showTotalIncome}">
              <td th:text="#{text.incomeMinThreshold(${familySize})}"></td>
              <td class="text-right" th:text="${incomeMinThreshold}"></td>
            </tr>
          </tbody>
        </table>

        <p th:text="#{text.feePercent(${feePercent})}"></p>

        <table th:if="${hasChildIncome}">
          <tbody>
            <tr>
              <td th:text="#{text.table.childIncome}"></td>
            </tr>
            <tr
              th:each="part: ${parts}"
              th:object="${part}"
              th:if="${part.hasChildIncome}"
            >
              <td th:text="${part.childName}"></td>
              <td class="text-right" th:text="${part.childIncomeTotal}"></td>
            </tr>
          </tbody>
        </table>

        <br th:if="${hasChildIncome}" />

        <table class="full-width">
          <tbody th:each="part: ${parts}">
            <tr>
              <td class="half-width" th:text="${part.childName}"></td>
              <td class="half-width" th:switch="${part.placementType.name}">
                <span
                  th:case="'DAYCARE'"
                  th:text="#{text.placementType.daycare}"
                ></span>
                <span
                  th:case="'DAYCARE_PART_TIME'"
                  th:text="#{text.placementType.daycarePartTime}"
                ></span>
                <span
                  th:case="'PRESCHOOL_DAYCARE'"
                  th:text="#{text.placementType.preschool}"
                ></span>
                <span
                  th:case="'PREPARATORY_DAYCARE'"
                  th:text="#{text.placementType.preparatory}"
                ></span>
                <span
                  th:case="'DAYCARE_FIVE_YEAR_OLDS'"
                  th:text="#{text.placementType.fiveyears}"
                ></span>
                <span
                  th:case="'DAYCARE_PART_TIME_FIVE_YEAR_OLDS'"
                  th:text="#{text.placementType.fiveyears}"
                ></span>
              </td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td th:text="${part.serviceNeedDescription}"></td>
              <td class="text-right" th:text="${part.feeFormatted}"></td>
            </tr>
            <tr th:each="alteration: ${part.feeAlterations}">
              <td></td>
              <td th:switch="${alteration.type.name}">
                <span
                  th:case="'DISCOUNT'"
                  th:text="#{text.feeAlterationType.DISCOUNT}"
                ></span>
                <span
                  th:case="'INCREASE'"
                  th:text="#{text.feeAlterationType.INCREASE}"
                ></span>
                <span
                  th:case="'RELIEF'"
                  th:text="#{text.feeAlterationType.RELIEF}"
                ></span>
              </td>
              <td
                class="text-right"
                th:text="${alteration.effectFormatted}"
              ></td>
            </tr>
            <tr>
              <td></td>
              <td th:switch="${part.siblingDiscount}">
                <span th:case="0" th:text="#{text.table.finalFee}"></span>
                <span
                  th:case="*"
                  th:text="#{text.table.finalFeeWithSiblingDiscount(${part.siblingDiscount})}"
                ></span>
              </td>
              <td class="text-right" th:text="${part.finalFeeFormatted}"></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td></td>
              <td th:text="#{text.table.combined}"></td>
              <td class="text-right" th:text="${totalFee}"></td>
            </tr>
          </tbody>
        </table>

        <p th:text="#{text.reference}"></p>
        <a th:href="#{text.referenceUrl}" th:text="#{text.referenceUrl}"></a>
      </div>

      <div class="page">
        <div class="legal-content">
          <p th:text="#{text.legal.p1}"></p>
          <p th:text="#{text.legal.p2}"></p>
          <p th:text="#{text.legal.p3}"></p>
          <p th:text="#{text.legal.p4}"></p>
          <p th:if="${isReliefDecision}" th:text="#{text.legal.p5.RELIEF}"></p>
          <p th:unless="${isReliefDecision}" th:text="#{text.legal.p5}"></p>
          <p th:text="#{text.legal.p6}"></p>
          <p th:if="${isReliefDecision}" th:text="#{text.legal.p7.RELIEF}"></p>
          <p th:unless="${isReliefDecision}" th:text="#{text.legal.p7}"></p>
        </div>

        <div class="document-signed-details">
          <p>
            <span th:text="#{text.legal.p8}"></span>
            <span th:text="${approvedAt}"></span>
          </p>
          <div th:text="#{text.legal.p9}"></div>
          <div>
            <span th:text="${approverLastName}"></span>,
            <span th:text="${approverFirstName}"></span>
          </div>
          <div th:text="#{text.legal.p14}"></div>
          <div th:text="#{text.legal.p10}"></div>
          <div th:text="#{text.legal.p11}"></div>
          <div th:text="#{text.legal.p12}"></div>
        </div>
      </div>

      <div class="page last-page">
        <div th:replace="~{shared/daycare-correction :: correction}"></div>
      </div>
    </div>
  </body>
</html>
