<!--
SPDX-FileCopyrightText: 2017-2020 City of Espoo

SPDX-License-Identifier: LGPL-2.1-or-later
-->

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="heading">
    <div class="header">
        <div class="detail" th:text="#{pageNumber(${pageNumber})}"></div>
        <div class="detail" th:text="#{decisionNumber}"></div>
        <div class="detail" th:text="${decisionNumber}"></div>
    </div>
</div>

<div th:fragment="header" class="non-cover-page-header">
    <div class="logo">
        <img th:replace="espoo-logo.html"/>
    </div>
    <div class="non-cover-heading-info first">
        <div class="detail" th:text="${isReliefDecision} ? #{title.relief} : #{title}"></div>
        <div class="detail" th:text="#{subtitle1}"></div>
        <div class="detail" th:text="#{subtitle2}"></div>
        <div class="detail" th:text="#{approvedAt(${approvedAt})}"></div>
    </div>
    <div class="non-cover-heading-info last">
        <div class="detail" th:text="#{pageNumber(${pageNumber})}"></div>
        <div class="detail" th:text="#{decisionNumber}"></div>
        <div class="detail" th:text="${decisionNumber}"></div>
    </div>
</div>
</body>
</html>
