<!--
SPDX-FileCopyrightText: 2017-2021 City of Espoo

SPDX-License-Identifier: LGPL-2.1-or-later
-->
<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{shared/layout}"
>
  <body>
    <th layout:fragment="header">
      <header th:replace="~{ shared/common :: feeDecisionHeader}"></header>
    </th>

    <div layout:fragment="address">
      <div th:text="${headFullName}"></div>
      <div th:if="${partnerIsCodebtor}" th:text="${partnerFullName}"></div>
    </div>

    <div layout:fragment="content">
      <div class="page first-page">
        <h1 th:if="${isReliefDecision}" th:text="#{text.relief.title}"></h1>
        <h1 th:unless="${isReliefDecision}" th:text="#{text.title}"></h1>

        <p
          th:if="${decisionType == 'RELIEF_ACCEPTED'}"
          th:text="#{text.relief.accepted}"
        ></p>
        <p
          th:if="${decisionType == 'RELIEF_PARTLY_ACCEPTED'}"
          th:text="#{text.relief.partlyAccepted}"
        ></p>
        <p
          th:if="${decisionType == 'RELIEF_REJECTED'}"
          th:text="#{text.relief.rejected}"
        ></p>

        <p
          th:text="#{decision.details.child(${child.firstName}, ${child.lastName}, ${#temporals.format(child.dateOfBirth, 'd.M.yyyy')}, ${validFrom})}"
        ></p>

        <p th:text="${placementUnit.name}"></p>

        <p
          th:if="${isReliefDecision}"
          th:text="#{text.relief.decision(${coPayment}, ${validFrom})}"
        ></p>

        <table class="full-width">
          <tbody>
            <tr>
              <td th:text="#{decision.serviceNeed}"></td>
              <td class="text-right">
                <span th:switch="${placementType.name}">
                  <span
                    th:case="'PRESCHOOL'"
                    th:text="#{text.placementType.preschool}"
                  ></span>
                  <span
                    th:case="'PRESCHOOL_DAYCARE'"
                    th:text="#{text.placementType.preschool}"
                  ></span>
                  <span
                    th:case="'PREPARATORY'"
                    th:text="#{text.placementType.preparatory}"
                  ></span>
                  <span
                    th:case="'PREPARATORY_DAYCARE'"
                    th:text="#{text.placementType.preparatory}"
                  ></span>
                  <span
                    th:case="*"
                    th:text="#{text.placementType.daycare}"
                  ></span>
                </span>
                <span th:text="${voucherValueDescription}"></span>
              </td>
            </tr>
            <tr>
              <td th:text="#{decision.familySize}"></td>
              <td class="text-right" th:text="${familySize}"></td>
            </tr>
            <tr>
              <td th:text="#{decision.baseValue}"></td>
              <td class="text-right" th:text="${value}"></td>
            </tr>
            <tr th:each="alteration: ${feeAlterations}">
              <td th:switch="${alteration.type.name}">
                <span
                  th:case="'DISCOUNT'"
                  th:text="#{text.feeAlterationType.DISCOUNT}"
                ></span>
                <span
                  th:case="'INCREASE'"
                  th:text="#{text.feeAlterationType.INCREASE}"
                ></span>
                <span
                  th:case="'RELIEF'"
                  th:text="#{text.feeAlterationType.RELIEF}"
                ></span>
              </td>
              <td
                class="text-right"
                th:text="${alteration.effectFormatted}"
              ></td>
            </tr>
            <tr>
              <td th:text="#{decision.coPayment}"></td>
              <td class="text-right">
                <strong th:text="${coPayment}"></strong>
              </td>
            </tr>
          </tbody>
        </table>

        <p th:text="#{decision.instructionsForCalculation}"></p>

        <table class="full-width">
          <tbody>
            <tr>
              <td th:text="${headFullName}"></td>

              <td class="text-right" th:switch="${headIncomeEffect}">
                <span
                  th:case="'MAX_FEE_ACCEPTED'"
                  th:text="#{decision.income.maxFeeAccepted}"
                ></span>
                <span
                  th:case="'INCOMPLETE'"
                  th:text="#{decision.income.notAvailable}"
                ></span>
                <span th:case="'INCOME'" th:text="${headIncomeTotal}"></span>
                <span
                  th:case="'NOT_AVAILABLE'"
                  th:text="#{decision.income.notAvailable}"
                ></span>
              </td>
            </tr>
            <tr th:if="${hasPartner}">
              <td th:text="${partnerFullName}"></td>
              <td class="text-right" th:switch="${partnerIncomeEffect}">
                <span
                  th:case="'MAX_FEE_ACCEPTED'"
                  th:text="#{decision.income.maxFeeAccepted}"
                ></span>
                <span
                  th:case="'INCOMPLETE'"
                  th:text="#{decision.income.notAvailable}"
                ></span>
                <span th:case="'INCOME'" th:text="${partnerIncomeTotal}"></span>
                <span
                  th:case="'NOT_AVAILABLE'"
                  th:text="#{decision.income.notAvailable}"
                ></span>
              </td>
            </tr>

            <tr th:if="${hasChildIncome}">
              <td th:text="${childFullName}"></td>
              <td class="text-right" th:switch="${childIncomeEffect}">
                <span
                  th:case="'MAX_FEE_ACCEPTED'"
                  th:text="#{decision.income.maxFeeAccepted}"
                ></span>
                <span
                  th:case="'INCOMPLETE'"
                  th:text="#{decision.income.notAvailable}"
                ></span>
                <span th:case="'INCOME'" th:text="${childIncomeTotal}"></span>
                <span
                  th:case="'NOT_AVAILABLE'"
                  th:text="#{decision.income.notAvailable}"
                ></span>
              </td>
            </tr>

            <tr th:if="${showTotalIncome}">
              <td th:text="#{decision.combined}"></td>
              <td class="text-right" th:text="${totalIncome}"></td>
            </tr>
          </tbody>
        </table>

        <table class="full-width">
          <tbody>
            <tr>
              <td th:text="#{decision.amountOfVoucherForProvider}"></td>
              <td class="text-right">
                <span th:text="${serviceProviderValue}"></span>
              </td>
            </tr>
          </tbody>
        </table>

        <p th:utext="#{decision.details.customerFeeInfo}"></p>
        <p th:utext="#{decision.details.incomeChanges}"></p>
      </div>

      <div class="page">
        <div
          th:unless="${isReliefDecision}"
          th:utext="#{decision.legalInstructions}"
        ></div>
        <div
          th:if="${isReliefDecision}"
          th:utext="#{decision.relief.legalInstructions}"
        ></div>

        <div class="decision-details-container">
          <p>
            <strong th:text="#{decision.sentDate}">Päätöspäivä</strong>
            <span th:text="${approvedAt}"></span>
          </p>
          <p>
            <strong th:text="#{decision.approver.prefix}"
              >Päätöksentekijä</strong
            >
          </p>
          <div>
            <span th:text="${approverFirstName}"></span>
            <span th:text="${approverLastName}"></span>
          </div>
          <div th:utext="#{decision.approver.additionalInfo}">
            (allekirjoitettu sähköisesti)
          </div>
          <div th:utext="#{decision.approver.title}">
            Varhaiskasvatuksen palveluasiantuntija
          </div>
          <div th:utext="#{decision.approver.unit}">
            Varhaiskasvatuksen palveluohjaus
          </div>
        </div>
      </div>

      <div class="page last-page">
        <div th:replace="~{shared/daycare-correction :: correction}"></div>
      </div>
    </div>
  </body>
</html>
