<?xml version="1.0" encoding="UTF-8"?>

<!--
SPDX-FileCopyrightText: 2017-2020 City of Espoo

SPDX-License-Identifier: LGPL-2.1-or-later
-->

<configuration>
    <springProperty scope="context" name="appName" source="spring.application.name"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <include resource="fi/espoo/voltti/logging/logback/audit-appender.xml"/>
    <include resource="fi/espoo/voltti/logging/logback/default-appender-sanitized.xml"/>
    <include resource="fi/espoo/voltti/logging/logback/vtj-appender.xml"/>

    <springProfile name="!production &amp; !json-logging">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="VOLTTI_AUDIT_APPENDER"/>
            <appender-ref ref="VOLTTI_VTJ_APPENDER"/>
        </root>
    </springProfile>
    <springProfile name="production | json-logging">
        <root level="INFO">
            <appender-ref ref="VOLTTI_DEFAULT_APPENDER_SANITIZED"/>
            <appender-ref ref="VOLTTI_AUDIT_APPENDER"/>
            <appender-ref ref="VOLTTI_VTJ_APPENDER"/>
        </root>
    </springProfile>
</configuration>
