# SPDX-FileCopyrightText: 2017-2021 City of Espoo
#
# SPDX-License-Identifier: LGPL-2.1-or-later

[*.{kt,kts}]
# Disable ktlint rules that conflict with ktfmt
ktlint_disabled_rules = annotation,import-ordering,indent,multiline-if-else,paren-spacing,spacing-between-declarations-with-annotations,wrapping
