.DS_Store
*~
*.bak
*.log
*.swp

.gradle
.gradle_user_home
/build/
/target/
/lib/
/buildSrc/build/
/buildSrc/target/
/vtjclient/build/
/vtjclient/target/

.idea/
*.iws
*.iml
*.ipr
out/
.idea_modules/
.project
.classpath
.settings
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
