# SPDX-FileCopyrightText: 2017-2023 City of Espoo
#
# SPDX-License-Identifier: LGPL-2.1-or-later

.DS_Store
*~
*.bak
*.log
*.swp

.gradle
.gradle_user_home
.kotlin
/build/
/target/
/lib/
/codegen/build/
/codegen/target/
/custom-ktlint-rules/build/
/custom-ktlint-rules/target/
/buildSrc/build/
/buildSrc/target/
/evaka-bom/build/
/evaka-bom/target/
/service-lib/build/
/service-lib/target/
/sficlient/build/
/sficlient/target/
/vtjclient/build/
/vtjclient/target/

.idea/
*.iws
*.iml
*.ipr
out/
.idea_modules/
.project
.classpath
.settings
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
./certificates/truststore

.kotlin
