/*
 * SPDX-FileCopyrightText: 2017-2020 City of Espoo
 *
 * SPDX-License-Identifier: LGPL-2.1-or-later
 */

// Color variables
$white: #ffffff;
$black: #000000;
$teal: #038572;

$font-color: #6e6e6e;

$darker-percent: 10%;
$dark-percent: 25%;
$light-percent: 20%;
$lighter-percent: 60%;

$screen-big: 1408px;
$screen-medium: 1216px;
$screen-small: 1024px;
