# SPDX-FileCopyrightText: 2017-2022 City of Espoo
#
# SPDX-License-Identifier: LGPL-2.1-or-later

*
!bin
!cli
!logging.properties.template
!evaka-review-profile
evaka-review-profile/target
!bin
!theme/package*.json
!theme/evaka
!theme/fonts
!theme/sass
!theme/scripts
!evaka-logging
evaka-logging/target
!dd-fetch
dd-fetch/target
