# SPDX-FileCopyrightText: 2017-2023 City of Espoo
#
# SPDX-License-Identifier: LGPL-2.1-or-later

# OS files
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Built files
evaka/login/resources/css/
evaka/account/resources/css/

# VS Code
.vscode

role-condition/target
compose-resources/deployments/
*.orig
*.new

*/target
*/.classpath
*/.project
*/.settings
