# OS files
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Built files
evaka/login/resources/css/
evaka/account/resources/css/

# VS Code
.vscode

role-condition/target
evaka-review-profile/target
compose-resources/deployments/
*.java.orig
evaka-review-profile/.classpath
evaka-review-profile/.project
evaka-review-profile/.settings
