# SPDX-FileCopyrightText: 2017-2022 City of Espoo
#
# SPDX-License-Identifier: LGPL-2.1-or-later

version: '3.5'

services:
  keycloak-postgres:
    image: postgres:14
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  smtp:
    image: mailhog/mailhog
    ports:
      - "8025:8025"

  keycloak:
    build:
      context: .
    ports:
      - "8080:8080"
    environment:
      KEYCLOAK_WELCOME_THEME: evaka
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: admin
      KC_HOSTNAME_URL: "http://${KEYCLOAK_HOST:-localhost}:8080/auth/"
      KC_HOSTNAME_ADMIN_URL: "http://${KEYCLOAK_HOST:-localhost}:8080/auth/"
      KC_DB_DATABASE: keycloak
      KC_DB_USERNAME: postgres
      KC_DB_PASSWORD: postgres
      KC_DB_URL_HOST: keycloak-postgres
      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME_STRICT_HTTPS: "false"
      # KC_LOG_LEVEL: "debug"
    entrypoint: /configuration/entrypoint.sh
    command: ["start", "--optimized", "--log-console-output=json"]
    volumes:
      - ./compose-resources/configuration:/configuration
      - ./theme/evaka:/opt/jboss/keycloak/themes/evaka
    depends_on:
      - smtp
      - keycloak-postgres
      - dummy-suomifi

  dummy-suomifi:
    build:
      context: dummy-suomifi
    ports:
      - "9000:9000"

volumes:
  postgres_data:
      driver: local
