<!--
SPDX-FileCopyrightText: 2017-2021 City of Espoo

SPDX-License-Identifier: LGPL-2.1-or-later
-->
<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{shared/layout}"
>
  <body>
    <div layout:fragment="content">
      <div class="page first-page">
        <strong th:text="#{decision.title}"></strong>
        <div class="child-details">
          <p>
            <strong th:text="#{decision.details.child.prefix}"
              >Lapsellenne</strong
            >
            <span
              th:text="#{decision.details.child(${decision.child.name}, ${#temporals.format(decision.child.dateOfBirth, 'd.M.yyyy')})}"
              >Etunimi Sukunimi (s. 1.1.2000)</span
            >
            <br />
            <span th:utext="#{decision.details.date}"></span>
            <span
              th:replace="~{shared/common :: date-range(${decision.startDate}, ${decision.endDate})}"
            ></span>
          </p>
          <p>
            <span th:text="#{decisionStatus}"></span>
            <strong th:text="#{${'statuses.' + decision.status}}"></strong>
          </p>
        </div>

        <div class="decision-details-container">
          <h2 th:text="#{neededTypesOfAssistance}"></h2>
          <div
            class="decision-details"
            th:if="${decision.pedagogicalMotivation} != null"
          >
            <h3 th:text="#{pedagogicalMotivation}"></h3>
            <div th:text="${decision.pedagogicalMotivation}"></div>
          </div>
          <div
            class="decision-details"
            th:if="${decision.structuralMotivationDescription} != null or ${decision.structuralMotivationOptions} != null"
          >
            <h3 th:text="#{structuralMotivation}"></h3>
            <ul th:if="${decision.structuralMotivationOptions} != null">
              <li
                th:text="#{structuralMotivationOptions.smallerGroup}"
                th:if="${decision.structuralMotivationOptions.smallerGroup}"
              ></li>
              <li
                th:text="#{structuralMotivationOptions.specialGroup}"
                th:if="${decision.structuralMotivationOptions.specialGroup}"
              ></li>
              <li
                th:text="#{structuralMotivationOptions.smallGroup}"
                th:if="${decision.structuralMotivationOptions.smallGroup}"
              ></li>
              <li
                th:text="#{structuralMotivationOptions.groupAssistant}"
                th:if="${decision.structuralMotivationOptions.groupAssistant}"
              ></li>
              <li
                th:text="#{structuralMotivationOptions.childAssistant}"
                th:if="${decision.structuralMotivationOptions.childAssistant}"
              ></li>
              <li
                th:text="#{structuralMotivationOptions.additionalStaff}"
                th:if="${decision.structuralMotivationOptions.additionalStaff}"
              ></li>
            </ul>
            <div
              th:if="${decision.structuralMotivationDescription} != null"
              th:text="${decision.structuralMotivationDescription}"
            ></div>
          </div>
          <div
            class="decision-details"
            th:if="${decision.careMotivation} != null"
          >
            <h3 th:text="#{careMotivation}"></h3>
            <div th:text="${decision.careMotivation}"></div>
          </div>
          <div
            class="decision-details"
            th:if="${decision.servicesMotivation} != null or ${decision.serviceOptions} != null"
          >
            <h3 th:text="#{services}"></h3>
            <ul th:if="${decision.serviceOptions} != null">
              <li
                th:text="#{serviceOptions.consultationSpecialEd}"
                th:if="${decision.serviceOptions.consultationSpecialEd}"
              ></li>
              <li
                th:text="#{serviceOptions.partTimeSpecialEd}"
                th:if="${decision.serviceOptions.partTimeSpecialEd}"
              ></li>
              <li
                th:text="#{serviceOptions.fullTimeSpecialEd}"
                th:if="${decision.serviceOptions.fullTimeSpecialEd}"
              ></li>
              <li
                th:text="#{serviceOptions.interpretationAndAssistanceServices}"
                th:if="${decision.serviceOptions.interpretationAndAssistanceServices}"
              ></li>
              <li
                th:text="#{serviceOptions.specialAides}"
                th:if="${decision.serviceOptions.specialAides}"
              ></li>
            </ul>
            <div
              th:text="${decision.servicesMotivation}"
              th:if="${decision.servicesMotivation} != null"
            ></div>
          </div>
        </div>

        <div class="decision-details-container">
          <h2 th:text="#{collaborationWithGuardians}"></h2>
          <div
            class="decision-details"
            th:if="${decision.guardiansHeardOn} != null"
          >
            <h3 th:text="#{guardiansHeardAt}"></h3>
            <div
              th:replace="~{shared/common :: format-date(${decision.guardiansHeardOn})}"
            ></div>
          </div>
          <div
            class="decision-details"
            th:if="${decision.guardianInfo} != null or ${decision.otherRepresentativeHeard} != null"
          >
            <h3 th:text="#{guardiansHeard}"></h3>
            <ul>
              <li
                th:each="guardian : ${decision.guardianInfo}"
                th:if="${guardian.isHeard} == true"
              >
                <span th:text="${guardian.name}"></span
                ><span
                  th:text="': ' + ${guardian.details}"
                  th:if="${guardian.details} != null"
                ></span>
              </li>
              <li
                th:if="${decision.otherRepresentativeHeard}"
                th:text="${decision.otherRepresentativeDetails}"
              ></li>
            </ul>
          </div>
          <div
            class="decision-details"
            th:if="${decision.viewOfGuardians} != null"
          >
            <h3 th:text="#{viewOfTheGuardians}"></h3>
            <div th:text="${decision.viewOfGuardians}"></div>
          </div>
        </div>

        <div class="decision-details-container">
          <h2 th:text="#{decisionAndValidity}"></h2>
          <div
            class="decision-details"
            th:if="${decision.assistanceLevel} != null"
          >
            <h3 th:text="#{futureLevelOfAssistance}"></h3>
            <div>
              <span
                th:text="#{${'assistanceLevel.' + decision.assistanceLevel}}"
              ></span>
              <th:block
                th:if="${decision.assistanceServicesTime} != null and ${decision.assistanceLevel.toString()} == 'ASSISTANCE_SERVICES_FOR_TIME'"
              >
                <span
                  th:replace="~{shared/common :: date-range(${decision.assistanceServicesTime.start}, ${decision.assistanceServicesTime.end})}"
                ></span>
              </th:block>
            </div>
          </div>
          <div class="decision-details" th:if="${decision.startDate} != null">
            <h3 th:text="#{startDate}"></h3>
            <div
              th:replace="~{shared/common :: format-date(${decision.startDate})}"
            ></div>
          </div>
          <div
            class="decision-details"
            th:if="${decision.selectedUnit} != null"
          >
            <h3 th:text="#{selectedUnit}"></h3>
            <div>
              <div th:text="${decision.selectedUnit.name}"></div>
              <div
                th:text="${decision.selectedUnit.streetAddress} + ', ' + ${decision.selectedUnit.postalCode} + ' ' + ${decision.selectedUnit.postOffice}"
              ></div>
            </div>
          </div>
          <div class="decision-details" th:text="#{unitMayChange}"></div>
          <div
            class="decision-details"
            th:if="${decision.motivationForDecision} != null"
          >
            <h3 th:text="#{motivationForDecision}"></h3>
            <div th:text="${decision.motivationForDecision}"></div>
          </div>
        </div>

        <div class="decision-details-container">
          <h2 th:text="#{personsResponsible}"></h2>
          <div class="decision-details" th:if="${decision.preparedBy1} != null">
            <h3 th:text="#{preparator}"></h3>
            <div>
              <div>
                <span th:text="${decision.preparedBy1.name}"></span>,
                <span th:text="${decision.preparedBy1.title}"></span>
              </div>
              <div th:text="${decision.preparedBy1.email}"></div>
              <div th:text="${decision.preparedBy1.phoneNumber}"></div>
            </div>
          </div>
          <div class="decision-details" th:if="${decision.preparedBy2} != null">
            <h3 th:text="#{preparator}"></h3>
            <div>
              <div>
                <span th:text="${decision.preparedBy2.name}"></span>,
                <span th:text="${decision.preparedBy2.title}"></span>
              </div>
              <div th:text="${decision.preparedBy2.email}"></div>
              <div th:text="${decision.preparedBy2.phoneNumber}"></div>
            </div>
          </div>
          <div
            class="decision-details"
            th:if="${decision.decisionMaker} != null"
          >
            <h3 th:text="#{decisionMaker}"></h3>
            <div>
              <span th:text="${decision.decisionMaker.name}"></span>,
              <span th:text="${decision.decisionMaker.title}"></span>
            </div>
          </div>
          <p>
            <span th:text="#{decisionMadeOn}"></span>
            <span
              th:replace="~{shared/common :: format-date(${decision.decisionMade})}"
            ></span>
          </p>
        </div>
        <p th:utext="#{disclaimer}"></p>
      </div>

      <div class="page">
        <h2 th:text="#{appealInstructionTitle}"></h2>
        <div th:utext="#{appealInstructions}"></div>
      </div>
    </div>
  </body>
</html>
