<!--
SPDX-FileCopyrightText: 2017-2020 City of Espoo

SPDX-License-Identifier: LGPL-2.1-or-later
-->

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style th:replace="~{preschool/preschool-decision-css.html}"></style>
    <style th:replace="~{ipost/ipost-letter.html :: css}"></style>
<!--    <style th:replace="~{ipost/ipost-letter.html :: guides}"></style>-->
  </head>
  <body>
  <div th:replace="~{ ipost/ipost-letter :: page(~{ :: content})}">
    <div th:fragment="content">
      <div th:replace="~{preschool/preschool-decision-common :: header}"></div>

      <div class="content-wrapper">
        <h4 class="page-title spacing-before-title" th:text="#{title}"></h4>
        <div class="accept-placement-wrapper">

          <div th:replace="~{shared/acceptance-form :: preschool-unit-details}"></div>

          <p>
            <span th:text="#{timeframe.1}"></span>
            <span th:replace="~{preschool/preschool-decision-dates :: placement-dates}"></span>
          </p>

          <p th:utext="#{accept.text.1}"></p>
          <p th:text="#{accept.text.2}"></p>

          <div th:replace="~{shared/acceptance-form :: signatures}"></div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
