<!--
SPDX-FileCopyrightText: 2017-2020 City of Espoo

SPDX-License-Identifier: LGPL-2.1-or-later
-->

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style th:replace="~{preschool/preschool-decision-css.html}"></style>
    <style th:replace="~{ipost/ipost-letter.html :: css}"></style>
<!--    <style th:replace="~{ipost/ipost-letter.html :: guides}"></style>-->
  </head>
  <body>
    <div th:replace="~{ ipost/ipost-letter :: page(~{ :: content})}">
      <div th:fragment="content">
        <div th:replace="~{preschool/preschool-decision-common :: header}"></div>

        <div class="content-wrapper">
          <h4 class="page-title spacing-before-title" th:text="#{title}"></h4>
          <div class="main-content">
            <p th:text="#{section.main.1}"></p>
            <p th:text="#{section.main.2}"></p>
            <p th:text="#{section.main.3}"></p>
            <p th:text="#{section.main.4}"></p>
            <ul>
              <li th:text="#{section.main.4.list.1}"></li>
              <li th:text="#{section.main.4.list.2}"></li>
              <li th:text="#{section.main.4.list.3}"></li>
              <li th:text="#{section.main.4.list.4}"></li>
            </ul>
            <p th:text="#{section.main.5}"></p>
            <p th:text="#{section.main.6}"></p>
            <ul>
              <li th:text="#{section.main.6.list.1}"></li>
              <li th:text="#{section.main.6.list.2}"></li>
              <li th:text="#{section.main.6.list.3}"></li>
              <li th:text="#{section.main.6.list.4}"></li>
            </ul>
            <p th:text="#{section.main.7}"></p>
          </div>

          <div class="col-row" th:text="#{address.title}"></div>
          <div class="col-row" th:text="#{address.title.2}"></div>
          <br />
          <div class="row">
            <div class="column left">
              <div class="col-row" th:text="#{address.street.caption}"></div>
              <div class="col-row" th:text="#{address.opening.caption}"></div>
              <div class="col-row" th:text="#{address.postal.caption}"></div>
              <div class="col-row" th:text="#{address.email.caption}"></div>
              <div class="col-row" th:text="#{address.fax.caption}"></div>
              <div class="col-row" th:text="#{address.phone.caption}"></div>
            </div>
            <div class="column right">
              <div class="col-row" th:text="#{address.street.value}"></div>
              <div class="col-row" th:text="#{address.opening.value}"></div>
              <div class="col-row" th:text="#{address.postal.value}"></div>
              <div class="col-row">
                <a th:href="'mailto:' + #{address.email.value}" th:text="#{address.email.value}"></a>
              </div>
              <div class="col-row" th:text="#{address.fax.value}"></div>
              <div class="col-row" th:text="#{address.phone.value}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
