<!--
SPDX-FileCopyrightText: 2017-2020 City of Espoo

SPDX-License-Identifier: LGPL-2.1-or-later
-->

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style th:replace="~{preschool/preschool-decision-css.html}"></style>
    <style th:replace="~{ipost/ipost-letter.html :: css}"></style>
<!--    <style th:replace="~{ipost/ipost-letter.html :: guides}"></style>-->
</head>
<body>
    <div th:replace="~{ ipost/ipost-letter :: cover(~{ :: address},~{ :: heading},~{ :: content})}">
        <div th:fragment="address">
            <div th:text="${guardian.lastName}"></div>
            <div th:text="${guardian.firstName}"></div>
            <div th:text="${sendAddress.row1}"></div>
            <div th:text="${sendAddress.row2}"></div>
            <div th:if="${not #strings.isEmpty(sendAddress.row3)}" th:text="${sendAddress.row3}"></div>
        </div>

        <div th:fragment="heading">
            <div class="heading">
                <div class="detail" th:text="#{text.heading}"></div>
                <span th:replace="~{preschool/preschool-decision-dates :: decision-date}"></span>
            </div>
            <div class="header">
                <div class="detail" th:text="#{text.pageNumber(${pageNumber})}"></div>
                <div class="detail">
                    <div th:text="#{text.decision.number}"></div>
                    <div th:text="${decision.decisionNumber}"></div>
                </div>
            </div>
        </div>

        <div th:fragment="content">
            <div class="content-wrapper">
                <p th:text="#{text.title}"></p>

                <div class="child-details">
                    <div>
                        <span class="strong" th:text="#{text.section.decision.details.child}"></span>
                        <span th:text="${application.form.child.firstName} + ' ' + ${application.form.child.lastName} + ' ' + ${#temporals.format(application.childDateOfBirth, 'd.M.yyyy')}"></span>
                    </div>
                    <div>
                        <span class="strong" th:text="#{text.section.decision.details.date}"></span>
                        <span th:replace="~{preschool/preschool-decision-dates :: placement-dates}"></span>
                    </div>
                </div>

                <div class="club-details">
                    <div class="strong" th:text="#{text.placement.unit}"></div>
                    <div style="text-indent: 6em">
                        <div th:text="${decision.unit.preschoolDecisionName}"></div>
                        <div th:text="${decision.unit.streetAddress} + ', ' + ${decision.unit.postalCode} + ' ' + ${decision.unit.postOffice}"></div>
                    </div>
                </div>

                <div class="club-manager">
                    <div class="strong" th:text="#{text.section.supervisor}"></div>
                    <div style="text-indent: 6em">
                        <div th:text="${manager.name}"></div>
                        <div th:text="${manager.phone}"></div>
                    </div>
                </div>
                <div class="legal-content">
                    <p>
                        <span th:utext="#{text.legal.1.1}"></span>
                        <span th:utext="#{text.legal.1.2}"></span>
                        <span th:utext="#{text.legal.1.3}"></span>
                        <span th:utext="#{text.legal.1.4}"></span>
                    </p>
                    <p>
                        <span th:utext="#{text.legal.1.5}"></span>
                    </p>
                    <p>
                        <span th:utext="#{text.legal.1.6}"></span>
                    </p>
                    <p>
                        <span th:utext="#{text.legal.1.7}"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
