/*
 * SPDX-FileCopyrightText: 2017-2020 City of Espoo
 *
 * SPDX-License-Identifier: LGPL-2.1-or-later
 */

@import "~bulma/sass/utilities/functions.sass";

// Add percentage of white to a color
@function tint($color, $percent) {
  @return mix($white, $color, $percent);
}

// Add percentage of black to a color
@function shade($color, $percent) {
  @return mix($black, $color, $percent);
}

$tablet: 768px;

@mixin onMobile() {
  @media (max-width: $tablet) {
    @content;
  }
}

// Colors

$black: #000000;
$black-bis: #0F0F0F;

$grey-darker: #0F0F0F;
$grey-dark: #6E6E6E;
$grey: #9E9E9E;
$grey-light: #C4C4C4;
$grey-lighter: #D8D8D8;

$white-bis: #F9F9F9;
$white: #FFFFFF;

$blue: #0050BB;
$dark-blue: rgb(1,60,140);
$dark-blue-transparent: rgba(1, 60, 140, 0.9);
$soft-blue: #249FFF;
$rock-blue: #9FC1D3;
$hard-blue: #1F6390;
$green: #C6DB00;
$yellow: #FFCE00;
$orange: #FF7300;
$red: #DB0C41;
$teal: #00d1b2;

$dark-percent: 25%;
$light-percent: 20%;
$lighter-percent: 60%;

$blue-dark: shade($blue, 25%);
$blue-light: tint($blue, 20%);
$blue-lighter: tint($blue, 60%);

// Typography

$font-body: "Open Sans", "Arial", sans-serif;
$font-heading: "Montserrat", "Arial", sans-serif;
$render-mode: optimizeLegibility;

$size-1: 3.2rem;
$size-2: 2.4rem;
$size-3: 1.47rem;
$size-4: 1.33rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;

$weight-extra-light: 200;
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;


// Set your colors
$primary: $blue;

$info: $blue-dark;
$success: $green;
$warning: $orange;
$danger: $red;
$light: $grey-lighter;
$dark: $grey-dark;

$blue-invert: findColorInvert($blue);
$soft-blue-invert: findColorInvert($soft-blue);
$rock-blue-invert: findColorInvert($rock-blue);
$hard-blue-invert: findColorInvert($hard-blue);
$green-invert: findColorInvert($green);
$yellow-invert: findColorInvert($yellow);
$orange-invert: findColorInvert($orange);
$red-invert: findColorInvert($red);

$primary-invert: $blue-invert;
$info-invert: findColorInvert($blue-dark);
$success-invert: $green-invert;
$warning-invert: $orange-invert;
$danger-invert: $red-invert;
$light-invert: $dark;
$dark-invert: $light;

// General colors

$background: $white;

$border: $grey-lighter;
$border-hover: $grey-light;

// Text colors

$text: $black-bis;
$text-invert: findColorInvert($text);
$text-light: $grey;
$text-strong: $grey-darker;

// Link colors

$link: $blue-light;
$link-invert: findColorInvert($blue-light);

$link-visited: $blue-lighter;

$link-hover: $blue;
$link-hover-border: $blue-invert;

$link-active: $blue-dark;
$link-active-border: findColorInvert($blue-dark);

$link-focus: $link-active;
$link-focus-border: $link-active-border;

// Typography

$size-small: $size-7;
$size-normal: $size-6;
$size-medium: $size-5;
$size-large: $size-3;

// Lists and maps

$colors: (
  "white": ($white, $black),
  "white-bis": ($white-bis, $black-bis),
  "black": ($black, $white),
  "black-bis": ($black-bis, $white-bis),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "link": ($link, $link-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
  "blue": ($blue, $blue-invert),
  "soft-blue": ($soft-blue, $soft-blue-invert),
  "rock-blue": ($rock-blue, $rock-blue-invert),
  "hard-blue": ($hard-blue, $hard-blue-invert),
  "green": ($green, $green-invert),
  "yellow": ($yellow, $yellow-invert),
  "orange": ($orange, $orange-invert),
  "red": ($red, $red-invert)
);

$shades: (
  "grey-darker": $grey-darker,
  "grey-dark": $grey-dark,
  "grey": $grey,
  "grey-light": $grey-light,
  "grey-lighter": $grey-lighter
);

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7;


// Daycare types
$color-daycare-centre: $primary;
$color-daycare-family: #b25538;
$color-daycare-group-family: #FE8400;
$color-daycare-club: #abc178;
$color-daycare-preschool: $red;

$color-warning-border: #fec100;
$color-warning-icon: #fec100;
$color-warning-text: #363636;

$color-error-border: red;
$color-error-icon: red;
$color-error-text: red;

// Form label color
$color-form-label: #5d5d5d;

$observatory: #038572;
