/*
 * SPDX-FileCopyrightText: 2017-2020 City of Espoo
 *
 * SPDX-License-Identifier: LGPL-2.1-or-later
 */

.title {
  font-weight: normal;
}

.field {
  margin-bottom: 0.5rem;
  @media all and (max-width: 960px) {
    margin-bottom: 1rem;
  }
}

.collapse-item {
  margin-bottom: 2rem;
  box-shadow: none;
  border: 1px solid $grey-light;
  border-radius: 3px;

  &.is-active {
    .card-header {
      border-bottom: 1px solid $grey-light;
    }
  }

  .card-header {
    position: relative;
    box-shadow: none;

    .card-header-title {
      font-size: 1rem;
      font-weight: normal;
      padding: 0.75rem 1.5rem;
    }
  }

  .label {
    font-weight: 500;
    color: $color-form-label;
    transition: all ease 0.3s;

    &.input-active {
      color: #333;
    }

    &:not(:last-child) {
      margin-bottom: 0.325em;
    }
  }

  .input {
    color: #4D4D4D;
    box-shadow: none;
    transition: all 0.2s ease;
  }

  .control > input:-webkit-autofill {
    -webkit-text-fill-color: #363636;
  }

  .radio-group{
    &.field {
      padding-left: 0;
    }

    .radio {
      padding: 0 0.75rem;
      height: 2.25rem;
      line-height: 2.15rem;

      &:not(.selected):hover {
        background-color: rgba(black, 0.05);
      }

      input {
        margin: 0;
        display: none;
      }

      + .radio {
        margin: 0;
      }
    }

    .selected {
      background-color: $blue;
      border-color: $blue;
      font-weight: 500;
      color: white;
    }

    &.secondary-selection {
      .selected {
        background-color: $teal;
        border-color: $teal;
      }
    }
  }
}

.section-title {
  position: relative;
  padding-bottom: 1rem;

  &:after {
    content: "";
    position: absolute;
    width: 4rem;
    bottom: 0;
    left: 0;
    border-bottom: 6px solid $blue;
  }
}

.multiselect__tag ~ .multiselect__single {
  display: none;
}

.multiselect__tags {
  border-radius: 3px;
  border: 1px solid $grey-light;

  input {
    font-size: 1rem;
  }
}

.multiselect--active {
  .multiselect__tags {
    border-color: #00d1b2;
  }
}

.multiselect__spinner {
  right: 6px;
  top: 6px;
  width: 36px;
  height: 26px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.4);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.4);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(0, 0, 0, 0.4);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(0, 0, 0, 0.4);
}

@media all and (max-width: 960px) {
  .radio, .checkbox {
    display: inline-block;
  }
}

.divider, .column-divider {
  display: block;
  height: 1px;
  background: transparent;
  border: none;
  border-bottom: 1px dashed $grey-lighter;
  margin: 1rem 0 1.5rem;
}

.column-divider {
  border-bottom: 1px solid $grey-lighter;
}

textarea {
  position: relative;
  width: 100%;
  resize: vertical;
  min-height: 4rem;
  padding-bottom: 0.5em;
  padding-left: 0.625em;
  padding-right: 0.625em;
  padding-top: 0.5em;
  vertical-align: top;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  font-size: 1rem;

  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-flex-align: center;
  align-items: center;

  &:focus {
    border-color: #00d1b2;
    outline: none;
  }
}

.bordered-checkbox {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0 0 1rem;
  border-radius: 8px;
  border: 1px solid lightgrey;

  .checkbox {
    margin-bottom: 0;
  }
}

label.checkbox {
  position: relative;
  display: inline-block;

  &::before,
  &::after {
    position: absolute;
    content: "";
    display: inline-block;
  }

  &::before{
    height: 18px;
    width: 18px;
    border: 1px solid #666;
    border-radius: 2px;
    background-color: #fff;
    left: 0;
    top: 0px;
  }

  &:focus {
    outline: none;
  }

  &:focus::before {
    box-shadow: 0 0 0 2px #00d1b2;
    border-color: white;
  }

  &::after {
    content: "";
    height: 5px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-color: rgba(#999, 0.65);

    transform: rotate(-45deg);

    left: 5px;
    top: 6px;
    opacity: 0;
    transition: all ease 0.2s;
  }

  &:hover::after {
    opacity: 1;
    color: rgba(#999, 0.65);
  }

  &.active::after {
    opacity: 1;
    border-color: #444;
  }

  input[type="checkbox"] {
    opacity: 0;
    margin-right: 0.5rem;

  }
}

.button {
  &.is-info, &.is-primary, &.is-link {
    &:focus {
      box-shadow: 0 0 0 2px #00d1b2;
      border-color: white;
    }
  }

  &.is-danger {
    &:focus {
      box-shadow: 0 0 0 2px #ca0c0c;
      border-color: white;
    }
  }
}

input {
  box-shadow: none !important;
}

/**
  UNSET VOLTTI-STYLEGUIDE STYLES
  TODO: Remove these and actually use styleguide style UI
**/

.section-title {
  display: block;
  border-bottom: none;
  margin-top: 0;
}

.input, .taginput .taginput-container.is-focusable, .textarea {
  background-color: $white;
}

.checkbox {
  .label {
    display: block;
    min-height: unset;
    position: unset;
    padding-left: 0;

    &:before {
      margin-top: 0;
    }
  }
}
