/*
 * SPDX-FileCopyrightText: 2017-2020 City of Espoo
 *
 * SPDX-License-Identifier: LGPL-2.1-or-later
 */

@import 'absence-variables';
// temporary forced overrides
.absences-page {
  .container {
    @media screen and (min-width: $screen-small) and (max-width: $screen-medium) {
      width: 100%;
      max-width: 100%;
    }
  }

  .content-area {
    margin-bottom: 20px;
  }

  .table td,
  .table th {
    padding: 5px 2px !important;
    border-bottom: none !important;
    text-align: center;
  }

  .table thead th {
    font-weight: 600 !important;
    font-size: 0.8rem !important;
  }

  .table td {
    cursor: pointer;
  }

  .table .has-text-center {
    text-align: center;
  }

  .absence-modal .input-group-item {
    margin-bottom: 0;
  }

  $cell-size: 20px;

  .absence-child-name {
    white-space: nowrap;
    overflow: hidden;
    width: 130px;
    max-width: 130px;

    @media screen and (min-width: $screen-medium) {
      width: 206px;
      max-width: 206px;
    }
  }

  .absence-tooltip {
    span {
      text-align: left;
    }
  }

  .absence-cell-today,
  .table tr:hover .hover-highlight {
    background: $hover-background;

    .absence-cell-selected {
      .absence-cell-left-weekend {
        border-top-color: transparent;
      }

      .absence-cell-right-weekend {
        border-bottom-color: transparent;
      }
    }

    .absence-cell-left-weekend {
      border-top-color: $color-weekend-hover;
    }

    .absence-cell-right-weekend {
      border-bottom-color: $color-weekend-hover;
    }
  }

  tr:hover .hover-highlight:first-child {
    box-shadow: -8px 0 0 $hover-background;
  }

  tr:hover .hover-highlight:last-child {
    box-shadow: 8px 0 0 $hover-background;
  }

  .absence-header-today {
    background-color: $grey;
    color: $white;
  }

  .absence-header-weekday {
    color: $color-weekday-text;
  }

  .absence-cell {
    position: relative;
    height: $cell-size;
    width: $cell-size;
  }

  .absence-cell-disabled {
    background: transparent;
  }

  .absence-cell-left,
  .absence-cell-right {
    position: absolute;
    height: $cell-size;
    width: $cell-size;
    border-style: solid;
    border-color: transparent;
  }

  .absence-cell-left,
  .absence-cell-right,
  .absence-cell-selected {
    // center cells with bigger screens
    @media screen and (min-width: $screen-big) {
      left: 3px;
    }
  }

  .absence-cell-left {
    border-width: $cell-size $cell-size 0 0;

    &-OTHER_ABSENCE {
      border-top-color: $color-other;
    }
    &-SICKLEAVE {
      border-top-color: $color-sick;
    }
    &-UNKNOWN_ABSENCE {
      border-top-color: $color-unknown;
    }
    &-PLANNED_ABSENCE {
      border-top-color: $color-planned;
    }
    &-TEMPORARY_RELOCATION {
      border-top-color: $color-relocated;
    }
    &-TEMPORARY_VISITOR {
      border-top-color: $color-visitor;
    }
    &-PARENTLEAVE {
      border-top-color: $color-parentleave;
    }
    &-FORCE_MAJEURE {
      border-top-color: $color-uncharged;
    }
    &-PRESENCE,
    &-weekend {
      border-top-color: $color-weekend;
    }
    &-empty {
      border-top-color: $color-empty;
    }
  }

  .absence-cell-right {
    border-width: 0 0 $cell-size $cell-size;

    &-OTHER_ABSENCE {
      border-bottom-color: $color-other;
    }
    &-SICKLEAVE {
      border-bottom-color: $color-sick;
    }
    &-UNKNOWN_ABSENCE {
      border-bottom-color: $color-unknown;
    }
    &-PLANNED_ABSENCE {
      border-bottom-color: $color-planned;
    }
    &-TEMPORARY_RELOCATION {
      border-bottom-color: $color-relocated;
    }
    &-TEMPORARY_VISITOR {
      border-bottom-color: $color-visitor;
    }
    &-PARENTLEAVE {
      border-bottom-color: $color-parentleave;
    }
    &-FORCE_MAJEURE {
      border-bottom-color: $color-uncharged;
    }
    &-PRESENCE,
    &-weekend {
      border-bottom-color: $color-weekend;
    }
    &-empty {
      border-bottom-color: $color-empty;
    }
  }

  .absence-cell-selected {
    border: 2px solid $blue-primary;
    border-radius: 2px;

    .absence-cell-left,
    .absence-cell-right {
      border-color: transparent;
    }
  }

  .empty-row {
    color: transparent;

    td {
      cursor: default;
    }
  }

  .staff-attendance-row {
    font-weight: 600;

    td {
      cursor: default;
    }

    .staff-attendance-cell {
      /* disable spin buttons Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      input {
        /* disable spin buttons Firefox */
        -moz-appearance: textfield;
        text-align: center;
        padding: 0;
        font-weight: 600;
        font-size: 0.8rem;
        height: $cell-size;
        width: $cell-size;
        min-height: 1.5rem;
      }
    }

    .disabled-staff-cell-container {
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  }
}
