/*
 * SPDX-FileCopyrightText: 2017-2020 City of Espoo
 *
 * SPDX-License-Identifier: LGPL-2.1-or-later
 */

@import '../../assets/variables';

$green: #c6db00;
$blue-primary: #3273c9;
$red: #db0c41;
$blue-dark: #013c8c;
$lila: #9d55c3;
$blue-light: #99b9e4;
$yellow: #ffce00;
$orange: #ff7300;
$grey-very-light: #d8d8d8;
$hover-background: rgba(158, 158, 158, 0.2);
$grey-darker: #0f0f0f;
$grey-very-very-light: #efefef;
$grey-very-very-light-hover: #dfdfdf;

$color-unknown: $green;
$color-parentleave: $blue-primary;
$color-uncharged: $red;
$color-other: $blue-dark;
$color-sick: $lila;
$color-planned: $blue-light;
$color-visitor: $yellow;
$color-relocated: $orange;
$color-empty: $grey-very-light;
$color-precence: $color-empty;
$color-weekday-text: $grey-darker;
$color-weekend: $grey-very-very-light;
$color-weekend-hover: $grey-very-very-light-hover;
