/*
 * SPDX-FileCopyrightText: 2017-2020 City of Espoo
 *
 * SPDX-License-Identifier: LGPL-2.1-or-later
 */

.staff-attendance-cell {
  $cell-size: 20px;

  /* disable spin buttons Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input {
    /* disable spin buttons Firefox */
    -moz-appearance: textfield;
    text-align: center;
    padding: 0;
    font-size: 0.8rem;
    height: $cell-size;
    width: $cell-size;
  }
}

.staff-attendance-header {
  font-size: 0.9rem;
  font-weight: bold;
  padding-top: 5px;
}
