/*
 * SPDX-FileCopyrightText: 2017-2020 City of Espoo
 *
 * SPDX-License-Identifier: LGPL-2.1-or-later
 */

$header-background: $white;
$header-shadow: 0 0 4px 6px rgba(155, 155, 155, 0.2);
$header-padding-top: 5rem;

.header {
  background: $header-background;
  box-shadow: $header-shadow;
  padding-top: $header-padding-top;

  .header-title {
    @include container;
    @include unselectable;

    display: flex;
    align-items: center;

    & > .title {
      padding-top: 1.4rem;

      &::before {
        content: '|';
        color: $grey-light;
        margin-right: 0.4em;
      }

      @include touch {
        display: none;
      }
    }
  }
}
