<!--
SPDX-FileCopyrightText: 2024-2025 Tampere region

SPDX-License-Identifier: LGPL-2.1-or-later
-->

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="correction">
    <h1 th:text="#{correction.title}"></h1>
    <div class="correction-content">
        <div th:utext="#{correction.content}"></div>
    </div>

    <div class="correction-content">
        <h2 th:text="#{right.title}">Oikaisuvaatimusoikeus</h2>
        <div th:utext="#{right.content}"></div>
    </div>

    <div class="correction-content">
        <h2 th:text="#{address.title}">Oikaisuviranomaisen osoite</h2>
        <div th:utext="#{address.content}">Nokian kaupunki, Sivistyslautakunta, ...</div>
    </div>

    <div class="correction-content">
        <h2 th:text="#{time.title}">Valitusaika</h2>
        <div th:utext="#{time.content}">Valitusaika on 30 päivää tiedoksisaannista</div>
    </div>

    <div class="correction-content">
        <h2 th:text="#{complaint.title}">Oikaisuvaatimuksen muoto ja sisältö</h2>
        <div th:utext="#{complaint.content}">Oikaisuvaatimus on tehtävä kirjallisesti ...</div>
    </div>
</th:block>
</body>
</html>
