/*
 * SPDX-FileCopyrightText: 2017-2020 City of Espoo
 *
 * SPDX-License-Identifier: LGPL-2.1-or-later
 */

$breadcrumb-item-color: $link !default;
$breadcrumb-item-hover-color: $link-hover !default;
$breadcrumb-item-active-color: $text-strong !default;

$breadcrumb-item-padding-vertical: 0 !default;
$breadcrumb-item-padding-horizontal: 0.75em !default;

$breadcrumb-item-separator-color: $grey-light !default;

.breadcrumb {
  font-size: $size-small;
  white-space: nowrap;
  margin-top: $verticalGap;
  margin-left: -$breadcrumb-item-padding-horizontal;

  a {
    font-weight: $weight-semibold;
    color: $breadcrumb-item-color;
    padding: $breadcrumb-item-padding-vertical
      $breadcrumb-item-padding-horizontal;
    text-transform: uppercase;

    &:hover {
      color: $breadcrumb-item-hover-color;
    }
  }

  ul,
  ol {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  li {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 1.4rem;

    .is-active {
      a {
        cursor: default;
        color: $breadcrumb-item-active-color;
      }
    }

  }

  @include until($desktop) {
    margin-left: 16px;
  }
}
