<!--
SPDX-FileCopyrightText: 2017-2020 City of Espoo

SPDX-License-Identifier: LGPL-2.1-or-later
-->

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style th:replace="~{club/club-decision-css.html}"></style>
    <style th:replace="~{ipost/ipost-letter.html :: css}"></style>
<!--    <style th:replace="~{ipost/ipost-letter.html :: guides}"></style>-->
</head>
<body>
    <div th:replace="~{ ipost/ipost-letter :: cover(~{ :: address},~{ :: heading},~{ :: content})}">
        <div th:fragment="address">
            <div th:text="${application.form.guardian.lastName}"></div>
            <div th:text="${application.form.guardian.firstName}"></div>
            <div th:text="${sendAddress.row1}"></div>
            <div th:text="${sendAddress.row2}"></div>
            <div th:if="${not #strings.isEmpty(sendAddress.row3)}" th:text="${sendAddress.row3}"></div>
        </div>

        <div th:fragment="heading">
            <div class="heading">
                <div class="detail" th:text="#{text.heading}">PÄÄTÖS</div>
                <span th:replace="~{club/club-decision-dates :: decision-date}"></span>
            </div>
            <div class="header">
                <div class="detail" th:text="#{text.pageNumber(${pageNumber})}"></div>
                <div class="detail">
                    <div th:text="#{text.decision.number}">Päätöksen numero</div>
                    <div th:text="${decision.decisionNumber}"></div>
                </div>
            </div>
        </div>

        <div th:fragment="content">
            <div class="content-wrapper">
                <p th:text="#{text.title}"></p>

                <div class="child-details">
                    <div>
                        <span class="strong" th:text="#{text.section.decision.details.child}">Lapsellenne</span>
                        <span th:text="${application.form.child.firstName} + ' ' + ${application.form.child.lastName}"></span>
                    </div>
                    <div>
                        <span class="strong" th:text="#{text.section.decision.details.date}">on varattu kerhopaikka ajalle</span>
                        <span th:replace="~{club/club-decision-dates :: placement-dates}"></span>
                    </div>
                </div>

                <div class="club-details">
                    <div class="strong" th:text="#{text.placement.unit}"></div>
                    <div style="text-indent: 6em">
                        <div th:text="${decision.unit.name}"></div>
                        <div th:text="${decision.unit.streetAddress} + ' ' + ${decision.unit.postalCode} + ' ' + ${decision.unit.postOffice}"></div>
                    </div>
                </div>

                <div class="club-manager">
                    <div class="strong" th:text="#{text.section.supervisor}"></div>
                    <div style="text-indent: 6em">
                        <div th:text="${manager.name}"></div>
                        <div>Yksikön johtaja</div>
                        <div th:text="${decision.unit.name}"></div>
                        <div th:text="${decision.unit.streetAddress} + ' ' + ${decision.unit.postalCode} + ' ' + ${decision.unit.postOffice}"></div>
                        <div th:text="'Puh. ' + ${manager.phone}"></div>
                        <!-- div th:text="${manager.email}"></div -->
                    </div>
                </div>

                <div class="legal-content">
                    <p>
                        <span th:utext="#{text.legal.1.1}"></span>
                        <span th:utext="#{text.legal.1.2}"></span>
                        <span th:utext="#{text.legal.1.3}"></span>
                        <span th:utext="#{text.legal.1.4}"></span>
                    </p>
                </div>
                <div class="document-signed-details">
                    <p>
                        <span class="strong" th:text="#{text.section.sentdate}">Päätöspäivä</span>
                        <span th:replace="~{club/club-decision-dates :: format-date(${decision.sentDate})}"></span>
                    </p>
                    <div class="strong" th:text="#{text.approver.caption}">Päätöksentekijä</div>
                    <div th:text="${decision.createdBy}"></div>
                    <div th:text="#{text.approver.signature}">(allekirjoitettu koneellisesti)</div>
                    <div th:text="#{text.approver.title.1}">Varhaiskasvatuksen palveluohjaaja</div>
                    <div th:text="#{text.approver.addressline1}"></div>
                    <div th:text="#{text.approver.phone}"></div>
                    <div>
                        <span th:text="#{text.approver.email.heading}"></span>
                        <a th:href="'mailto:' + #{text.approver.email.email}"
                           th:text="#{text.approver.email.email}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
