<!--
SPDX-FileCopyrightText: 2017-2020 City of Espoo

SPDX-License-Identifier: LGPL-2.1-or-later
-->

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style th:replace="~{club/club-decision-css.html}"></style>
    <style th:replace="~{ipost/ipost-letter.html :: css}"></style>
<!--    <style th:replace="~{ipost/ipost-letter.html :: guides}"></style>-->
  </head>
  <body>
  <div th:replace="~{ ipost/ipost-letter :: page(~{ :: content})}">
    <div th:fragment="content">
      <div th:replace="~{club/club-decision-common :: header}"></div>

      <div class="content-wrapper">
        <h4 class="page-title spacing-before-title" th:text="#{title}"></h4>

        <p th:text="#{accept.text.1}"></p>
        <p th:utext="#{accept.text.2}"></p>
        <div class="accept-placement-wrapper">
          <div class="details-section accept-details">
            <p>
              <span class="detail-label strong" th:text="#{childName}"></span>
              <span th:text="${child.firstName} + ' ' + ${child.lastName}"></span>
            </p>
            <p>
              <span class="detail-label strong" th:text="#{unitName}">Toimipaikka</span>
              <span th:text="${decision.unit.name}"></span>
            </p>
            <p>
              <span class="detail-label strong" th:text="#{timeframe}"></span>
              <span th:replace="~{club/club-decision-dates :: placement-dates}"></span>
            </p>
          </div>

          <div class="details-section accept-checkboxes big-spacing-before">
            <span class="accept-heading strong" th:text="#{acceptingPlacement}"></span>
            <div class="checkboxes-wrapper">
              <label class="checkbox-label">
                <span class="checkbox"></span>
                Otamme paikan vastaan ________________ alkaen.
              </label>
              <label class="checkbox-label">
                <span class="checkbox"></span>
                Emme ota paikkaa vastaan
              </label>
            </div>
          </div>

          <div class="details-section">
            <span class="detail-label strong" th:text="#{signatureDate}"></span>
            <span>____________________</span>
          </div>

          <div class="details-section">
            <span class="detail-label strong" th:text="#{signature}"></span>
            <span>____________________________________</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
