<!--
SPDX-FileCopyrightText: 2021 City of Oulu

SPDX-License-Identifier: LGPL-2.1-or-later
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <style th:replace="~{oulu/shared/common.html :: css}"></style>
</head>

<body>

<header th:replace="~{ oulu/shared/common :: header}"></header>
<footer th:replace="~{ oulu/shared/common :: footer}"></footer>

<div class="page first-page">
    <h1>
        <strong th:text="#{decision.title}"></strong>
    </h1>
    <div th:replace="~{ oulu/shared/common :: child-and-unit-details}"></div>
    <p th:utext="#{decision.instructions}"></p>
</div>

<div class="page last-page">
    <div th:replace="~{ oulu/shared/common :: decision-details}"></div>
    <div th:utext="#{decision.legalInstructions}"></div>
</div>

</body>
</html>
