# SPDX-FileCopyrightText: 2017-2020 City of Espoo
#
# SPDX-License-Identifier: LGPL-2.1-or-later

db/init
s3-mount
# Editors & IDEs
.idea/
cmake-build-debug/
cmake-build-release/
*.iws
*.iml
*.ipr
out/
.idea_modules/
atlassian-ide-plugin.xml
# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
# MS
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# OSX
.DS_Store
# binaries
*.jar
