# SPDX-FileCopyrightText: 2017-2020 City of Espoo
#
# SPDX-License-Identifier: LGPL-2.1-or-later

# This file is ment to be used with db.sh

version: '3.5'

services:
  dbdump:
    build: ./db
    ports:
    - "5432:5432"
    environment:
      PGPASSWORD: "postgres"
    volumes:
    - ./backup:/backup
    command: /bin/false
