<!--
SPDX-FileCopyrightText: 2017-2020 City of Espoo

SPDX-License-Identifier: LGPL-2.1-or-later
-->

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <style th:fragment="css">
      .header {
        font-size: 11px;
        font-weight: normal;
      }

      .headerLeft {
        float: left;
        width: 60mm;
      }

      .headerRight {
        float: right;
        width: 80mm;
      }

      .address {
        font-style: normal;
      }

      .logo {
        height: 77px;
        width: 150px;
      }

      .logo img {
        width: 130px;
        height: auto;
      }

      .text-right {
        text-align: right;
      }

      .full-width {
        width: 100%;
      }

      .half-width {
        width: 50%;
      }
    </style>
  </head>
  <body>
    <!-- Header (is repeated automatically on every page) -->
    <div th:fragment="header">
      <div class="header">
        <div class="headerLeft">
          <div class="logo">
            <img th:replace="~{shared/espoo-logo :: logo-img}" />
          </div>
        </div>
        <div class="headerRight">
          <div class="left-column">
            <div th:text="#{header.1}">PÄÄTÖS</div>
            <div th:utext="#{header.2}"></div>
            <div>
              <span th:replace="~{shared/common :: decision-date}"></span>
            </div>
          </div>
          <div class="right-column">
            <div>
              <span th:text="#{header.pageNumber}"></span>
              <span class="page-number"></span>
            </div>
            <div><br /></div>
            <div th:text="#{header.decisionNumber}">Päätöksen numero</div>
            <div th:text="${decision.decisionNumber}"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Fee decision header -->
    <div th:fragment="feeDecisionHeader">
      <div class="header">
        <div class="headerLeft">
          <div class="logo">
            <img th:replace="~{shared/espoo-logo :: logo-img}" />
          </div>
        </div>
        <div class="headerRight">
          <div class="left-column">
            <div
              th:text="${isReliefDecision} ? #{heading.relief.1} : #{heading.1}"
            ></div>
            <div
              th:text="${isReliefDecision} ? #{heading.relief.2} : #{heading.2}"
            ></div>
            <div th:text="#{heading.3}"></div>
            <div th:text="#{heading.4}"></div>
            <div th:text="#{heading.5(${approvedAt})}"></div>
          </div>
          <div class="right-column">
            <div>
              <span th:text="#{header.pageNumber}"></span>
              <span class="page-number"></span>
            </div>
            <div><br /></div>
            <div th:text="#{decisionNumber}"></div>
            <div th:text="${decisionNumber}"></div>
          </div>
        </div>
      </div>
    </div>

    <div th:fragment="child-and-unit-details">
      <div class="child-details">
        <p>
          <strong th:text="#{decision.details.child.prefix}"
            >Lapsellenne</strong
          >
          <span
            th:text="#{decision.details.child(${child.firstName}, ${child.lastName}, ${#temporals.format(child.dateOfBirth, 'd.M.yyyy')})}"
            >Etunimi Sukunimi (s. 1.1.2000)</span
          >
          <br />
          <span th:utext="#{decision.details.date}"
            >on tehty varhaiskasvatuspäätös varhaiskasvatukseen ajalle</span
          >
          <span
            th:replace="~{shared/common :: date-range(${decision.startDate}, ${decision.endDate})}"
          ></span>
        </p>
      </div>

      <div th:unless="${hideDaycareTime}" class="daycare-time-container">
        <span class="strong" th:text="#{decision.daycareTime} + ': '"></span>
        <span
          th:if="${isPartTimeDecision}"
          th:text="#{decision.partTime}"
        ></span>
        <span
          th:unless="${isPartTimeDecision}"
          th:text="#{decision.fullTime}"
        ></span>
      </div>

      <div class="decision-details-container">
        <div class="decision-details">
          <div class="strong" th:text="#{decision.placement.unit}">
            Varhaiskasvatusyksikkö
          </div>
          <div style="text-indent: 6em">
            <div th:text="${decisionUnitName}"></div>
            <div
              th:if="${not #strings.isEmpty(decision.unit.streetAddress)}"
              th:text="${decision.unit.streetAddress} + ', ' + ${decision.unit.postalCode} + ' ' + ${decision.unit.postOffice}"
            ></div>
          </div>
        </div>

        <div class="decision-details">
          <div class="strong" th:text="#{decision.unitsupervisor}">
            Varhaiskasvatusyksikön johtaja
          </div>
          <div style="text-indent: 6em">
            <div th:text="${manager.name}"></div>
            <div th:text="${manager.phone}"></div>
          </div>
        </div>
      </div>
    </div>

    <div th:fragment="decision-details">
      <div class="decision-details-container">
        <p>
          <strong th:text="#{decision.sentDate}">Päätöspäivä</strong>
          <span
            th:replace="~{shared/common :: format-date(${decision.sentDate})}"
          ></span>
        </p>
        <p>
          <strong th:text="#{decision.approver.prefix}">Päätöksentekijä</strong>
        </p>
        <div th:text="${decision.createdBy}"></div>
        <div th:utext="#{decision.approver.additionalInfo}">
          (allekirjoitettu sähköisesti)
        </div>
        <div th:utext="#{decision.approver.title}">
          Varhaiskasvatuksen palveluasiantuntija
        </div>
        <div th:utext="#{decision.approver.unit}">
          Varhaiskasvatuksen palveluohjaus
        </div>
        <div th:utext="#{decision.approver.address}"></div>
        <div th:utext="#{decision.approver.phoneNumber}"></div>
        <div>
          <span th:text="#{decision.approver.email.heading}"></span>
          <a
            th:href="'mailto:' + #{decision.approver.email.email}"
            th:text="#{decision.approver.email.email}"
          ></a>
        </div>
      </div>
      <p th:text="#{decision.inform.guardians}"></p>
    </div>

    <div th:fragment="acceptance-form">
      <div class="accept-placement-wrapper">
        <div
          th:replace="~{shared/acceptance-form :: daycare-unit-details}"
        ></div>
        <p th:unless="${hideDaycareTime}">
          <span th:text="#{decision.daycareTime} + ': '"></span>
          <span
            th:if="${isPartTimeDecision}"
            th:text="#{decision.partTime}"
          ></span>
          <span
            th:unless="${isPartTimeDecision}"
            th:text="#{decision.fullTime}"
          ></span>
        </p>

        <p th:utext="#{decision.acceptance.furtherInstructions}"></p>
        <div th:replace="~{shared/acceptance-form :: signatures}"></div>
        <div th:replace="~{shared/acceptance-form :: return-section}"></div>
      </div>
    </div>

    <span th:fragment="date-range (startDate, endDate)">
      <span
        th:text="${#temporals.format(startDate, 'd.M.yyyy')}
                  + ' - ' +
                  (${#temporals.format(endDate, 'd.M.yyyy')} ?: '')"
      ></span>
    </span>

    <span th:fragment="decision-date">
      <div
        class="detail"
        th:text="#{text.decision.sentDate(${#temporals.format(sentDate, 'd.M.yyyy')})}"
      ></div>
    </span>

    <span th:fragment="format-date (myDate)">
      <span th:text="${#temporals.format(myDate, 'd.M.yyyy')}"></span>
    </span>
  </body>
</html>
