@import "../theme";

* {
  font-family: $font-family-base;
}

// Set root font size to a value that HDS expects. Apply to body to
// override a default font size patternfly applies to some elements.
html,
body {
  font-size: 16px;
}

// Set default font color
html {
  color: $color-black;
}

// Form group
// Sets whitespace according to HDS
.hs-form-group {
  &:not(:last-child) {
    margin-bottom: $spacing-layout-m;
  }
}

// Custom typography
// A subtitle text that can be used to label sections/blocks
.hs-subtitle {
  display: inline-block;

  font-size: $fontsize-h-5;
  color: $color-black;

  &:not(:last-child) {
    margin-bottom: $spacing-s;
  }
}

// Custom button wrapper
// A wrapping block element that positions two button side by side with
// margin in between or a single button spanning entire row.
//
// On mobile buttons will appear in a column in the reversed order--the
// latter button is displayed first.
.hs-button-row {
  display: flex;
  flex-direction: column;

  // Logic is reversed because the order is reversed. Normally we would
  // disabled margin for the last item.
  & *:not(:last-child) {
    margin-bottom: $spacing-xs;
  }

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;

    // Remove bottom margin on non-mobile layout
    & *:not(:last-child) {
      margin-bottom: unset;
    }

    // When flexbox begins to support column-gap, we can replace the below
    // rules with column-gap: $spacing-xs;
    & *:first-child {
      margin-right: $spacing-xs / 2;
    }

    & *:last-child {
      margin-left: $spacing-xs / 2;
    }

    // If the button is alone, apply no margin.
    & *:only-child {
      margin: 0;
    }
  }
}

// Link
.hs-link,
a.hs-link,
a {
  padding-bottom: 1px;

  font-size: $fontsize-h-5;
  font-weight: normal;
  color: $color-primary;
  text-decoration: none;
  font-family: $font-alternate;

  .evaka-button &:hover {
    color: $color-primary;

    border-bottom-color: transparent;
    text-decoration: none;
  }
}

// Paragraph
// Include a selector with high specificity in order to ignore generic P
// styles
.hs-p,
.login-pf-page .card-pf .hs-p {
  margin-bottom: 0;

  font-size: $fontsize-h-5;
  color: $color-black;
  line-height: 1.5;

  &:not(:last-child) {
    margin-bottom: $spacing-m;
  }
}

.evaka-logo {
  max-width: 300px;
  min-width: 0px;
  margin: 4px auto 56px;
}

.espoo-logo {
  max-width: 108px;
  margin-bottom: -8px;
  margin-left: -8px;

  @media (min-width: $breakpoint-tablet) {
    max-width: 157px;
    margin-bottom: -14px;
    margin-left: -14px;
  }
}

.espoo-logo-divider {
  width: 1px;
  height: 24px;
  margin: 0 12px;
  border-left: 1px solid $color-gray-medium;

  @media (min-width: $breakpoint-tablet) {
    height: 32px;
  }
}

.evaka-info-text {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: 600;
  font-size: $fontsize-h-3;
  line-height: 30px;
  color: $color-gray-dark;
  padding-bottom: $spacing-m;
}

// A footer for the login pane that houses the feedback link
.hs-footer {
  $mobile-v-whitespace: $spacing-layout-xs;
  $tablet-v-whitespace: $spacing-layout-m;

  display: flex;
  justify-content: flex-end;
  margin: $spacing-layout-s $mobile-v-whitespace 0;
  padding: $spacing-s 0 $spacing-s;

  border-top: 1px solid $color-gray-lightest;

  @media (min-width: $breakpoint-tablet) {
    margin: $spacing-layout-s $tablet-v-whitespace 0;
    padding: $spacing-s 0 $spacing-m;
  }
}

.evaka-text-input__label {
  display: block;
  font-family: $font-alternate;
}

.evaka-text-input__input {
  display: block;
  width: 100%;
  height: 50px;
  padding-left: $spacing-s;
  outline: none;
  border: 1px solid $color-gray-dark;
  border-radius: 2px;

  &:focus {
    border-width: 2px;
    border-style: solid;
    border-color: $color-primary;
  }
}

.evaka-text__info-text {
  font-family: $font-alternate;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  margin-top: 8px;
  line-height: 19px;
}

.evaka-button {
  font-family: $font-alternate;
  background-color: $color-primary;
  height: 44px;
  border-radius: 0px;
  width: 100%;
  border: none;
  color: $color-white;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  display: flex;
  justify-content: center;
  align-items: center;

  &--secondary {
    @extend .evaka-button;
    background-color: $color-white;
    color: $color-primary;
    border: 1px solid $color-primary;
  }
}

.evaka-header-flex {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 16px;
}

.flex {
  display: flex;
}

.evaka-gap {
  margin-bottom: $spacing-s;
  display: flex;
}

ul.evaka-register {
  padding-left: 0;
  li {
    list-style: none;
  }
}

.evaka-h2--login-title {
  font-family: $font-base;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.evaka-notification__label {
  margin-bottom: $spacing-m;
  color: $color-error;
}

.evaka-notification--error {
  color: $color-error;
}
