/*
 * SPDX-FileCopyrightText: 2017-2020 City of Espoo
 *
 * SPDX-License-Identifier: LGPL-2.1-or-later
 */

$content-area-margin: 40px;
$content-area-padding: 4rem !default;
$content-area-card-padding: 40px !default;

.content-area {
  position: relative;
  margin-top: $verticalGap;

  padding: 60px;

  @include until($tablet) {
    padding: 40px;
  }

  margin-bottom: 60px;
  display: flex;
  flex-direction: column;

  &.has-background {
    background-color: $white;
  }


  .content-area-columns {
    display: flex;
    flex-direction: row;

    .content-area-column {
      position: relative;
      flex: 1;
      display: flex;
      flex-direction: column;

      margin-right: 60px;
    }

    .content-area-column + .content-area-column {
      max-width: 280px;
      min-width: 280px;
      margin-right: 0;
    }
  }
}

