<!--
SPDX-FileCopyrightText: 2017-2020 City of Espoo

SPDX-License-Identifier: LGPL-2.1-or-later
-->

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style th:replace="~{daycare/daycare-decision-css.html}"></style>
    <style th:replace="~{ipost/ipost-letter.html :: css}"></style>
<!--    <style th:replace="~{ipost/ipost-letter.html :: guides}"></style>-->
</head>
<body>
    <div th:replace="~{ ipost/ipost-letter :: cover(~{ :: address},~{ :: heading},~{ :: content})}">
        <div th:fragment="address">
            <div th:text="${guardian.lastName}"></div>
            <div th:text="${guardian.firstName}"></div>
            <div th:text="${sendAddress.row1}"></div>
            <div th:text="${sendAddress.row2}"></div>
            <div th:if="${not #strings.isEmpty(sendAddress.row3)}" th:text="${sendAddress.row3}"></div>
        </div>

        <div th:fragment="heading">
              <div class="heading">
                  <div class="detail" th:text="#{text.heading.1}">PÄÄTÖS</div>
                  <div class="detail" th:text="#{text.heading.2}"></div>
                  <span th:replace="~{daycare/daycare-decision-dates :: decision-date}"></span>
              </div>
              <div class="header">
                  <div class="detail" th:text="#{text.pageNumber(${pageNumber})}"></div>
                  <div class="detail">
                      <div th:text="#{text.decision.number}">Päätöksen numero</div>
                      <div th:text="${decision.decisionNumber}"></div>
                  </div>
              </div>
        </div>

        <div th:fragment="content">
            <div class="content-wrapper">
                <p th:text="#{text.title}"></p>

                <div class="child-details">
                    <div>
                        <span class="strong" th:text="#{text.section.decision.details.child}">Lapsellenne</span>
                        <span th:text="${application.form.child.firstName} + ' ' + ${application.form.child.lastName} + ' ' + ${#temporals.format(application.childDateOfBirth, 'd.M.yyyy')}"></span>
                    </div>
                    <div>
                        <span class="strong" th:text="#{text.section.decision.details.date}">on tehty varhaiskasvatuspäätös varhaiskasvatukseen ajalle</span>
                        <span th:replace="~{daycare/daycare-decision-dates :: placement-dates}"></span>
                    </div>
                </div>

                <div th:unless="${hideDaycareTime}" class="daycare-time-container">
                    <span class="strong" th:text="#{text.daycareTime} + ': '"></span>
                    <span th:if="${isPartTimeDecision}" th:text="#{text.partTime}"></span>
                    <span th:unless="${isPartTimeDecision}" th:text="#{text.fullTime}"></span>
                </div>

                <div class="club-details">
                    <div class="strong" th:text="#{text.placement.unit}">Varhaiskasvatusyksikkö</div>
                    <div style="text-indent: 6em">
                        <div th:text="${decision.type.toString() == 'PRESCHOOL_DAYCARE'}? ${decision.unit.preschoolDecisionName} : ${decision.unit.daycareDecisionName}"></div>
                        <div th:if="${not #strings.isEmpty(decision.unit.streetAddress)}"
                             th:text="${decision.unit.streetAddress} + ', ' + ${decision.unit.postalCode} + ' ' + ${decision.unit.postOffice}"></div>
                    </div>
                </div>

                <div class="club-manager">
                    <div class="strong" th:text="#{text.section.supervisor}">Varhaiskasvatusyksikön johtaja</div>
                    <div style="text-indent: 6em">
                        <div th:text="${manager.name}"></div>
                        <div th:text="${manager.phone}"></div>
                    </div>
                </div>
                <div class="legal-content">
                    <p th:utext="#{text.legal.1.0}"></p>
                    <p>
                        <span th:utext="#{text.legal.1.1}"></span>
                        <span th:utext="#{text.legal.1.2}"></span>
                        <span th:utext="#{text.legal.1.3}"></span>
                        <span th:utext="#{text.legal.1.4}"></span>
                        <span th:utext="#{text.legal.1.5}"></span>
                    </p>
                    <p th:utext="#{text.legal.1.6}"></p>
                    <p th:utext="#{text.legal.1.7}"></p>
                    <p th:utext="#{text.legal.1.8}"></p>
                    <p th:utext="#{text.legal.1.9}"></p>
                    <p th:utext="#{text.legal.1.10}"></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
