/*
 * SPDX-FileCopyrightText: 2017-2020 City of Espoo
 *
 * SPDX-License-Identifier: LGPL-2.1-or-later
 */

$body-background-color: $white-bis !default;
$body-size: 15px !default;
$body-rendering: optimizeLegibility !default;
$body-family: $family-primary !default;
$body-color: $text !default;
$body-weight: $weight-normal !default;
$body-line-height: 1.5 !default;

$code-family: $family-code !default;
$code-padding: 0.25em 0.5em 0.25em !default;
$code-weight: normal !default;
$code-size: 0.875em !default;

$hr-background-color: $border !default;
$hr-height: 1px !default;
$hr-margin: 1.5rem 0 !default;

$strong-color: $text-strong !default;
$strong-weight: $weight-bold !default;

@import "~bulma/sass/base/generic.sass";

a {
  &:active {
    color: $link-active;
  }
}
