/*
 * SPDX-FileCopyrightText: 2017-2020 City of Espoo
 *
 * SPDX-License-Identifier: LGPL-2.1-or-later
 */

body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #0f0f0f;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: #f5f5f5;
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

a {
  color: #0050bb;
  cursor: pointer;
  text-decoration: none;
}

table.compact tr td {
  padding: 0 8px;
}

table.compact tr th {
  padding: 8px;
}

button.inline {
  padding: 0;
  border-width: 0;
  height: unset;
  min-width: unset;
}

.column.no-padding {
  padding: 0;
}

.navbar {
  z-index: unset;
}

.separator {
  border-bottom: 1px dashed #c4c4c4;
  margin: 20px 0;
}

.separator.large {
  border-bottom: 1px dashed #c4c4c4;
  margin: 30px 0;
}

.bold {
  font-weight: 600;
}

.error {
  margin: 10px 0;
  color: #db0c41;
}

@media print {
  .section-toggle,
  .navbar-menu {
    display: none !important;
  }

  body {
    font-size: 10pt;
  }

  h1 {
    font-size: 26pt !important;
  }

  h2 {
    font-size: 20pt !important;
  }

  h3 {
    font-size: 16pt !important;
  }

  h4 {
    font-size: 12pt !important;
  }

  .content-area {
    margin-top: 0 !important;
    padding: 0.5cm !important;
  }

  a {
    color: #000000 !important;
  }
}

@page {
  size: A4;
  margin: 1cm;
}
