/*
 * SPDX-FileCopyrightText: 2017-2020 City of Espoo
 *
 * SPDX-License-Identifier: LGPL-2.1-or-later
 */

@import '~@evaka/styleguide/scss/utilities/_all.scss';
@import '~@evaka/styleguide/scss/base/_all.scss';

@import '~@evaka/styleguide/scss/elements/container.scss';
@import '~@evaka/styleguide/scss/components/header.scss';
@import '~@evaka/styleguide/scss/elements/icon.scss';
@import '~@evaka/styleguide/scss/elements/title.scss';
@import '~@evaka/styleguide/scss/layout/section.scss';

@import './variables';

html {
  overflow-y: auto;
}

.header {
  display: flex;
  flex-direction: column;
  padding: $header-padding;

  @include onMobile() {
    padding: $header-padding / 2;
  }

  .title {
    @include unselectable;
    display: flex;
    flex-direction: row;
    align-items: center;

    .title-logo {
      @include onMobile() {
        max-height: 100px;
      }
    }

    & > span {
      border-left: 1px solid $grey-light;
      margin-top: 1.4rem;
      margin-left: 0.2rem;
      padding-left: 1.5rem;

      @include onMobile() {
        display: none;
      }
    }
  }
}

.main {
  max-width: 40.8rem;
  margin-top: $main-margin-top;
  padding-top: 7.5rem;
  padding-bottom: 7rem;

  background: white;

  display: flex;
  flex-direction: column;

  align-items: center;

  position: relative;

  @include onMobile() {
    margin-top: $main-margin-top / 2;
  }

  .icon {
    position: absolute;
    top: 0;
    left: 50%;
    width: 5rem;
    height: 5rem;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    border-radius: 100%;
    background: $orange;
    border: 0.8rem #f9f9f9 solid;
    color: $white;
    font-size: 3rem;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;

    & * + * {
      margin-top: 1.5rem;
    }
  }

  p {
    margin-top: 1.5rem;
  }
}

.container {
  text-align: center;
}

.svg-inline {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
