# Java
# Compiled class file
*.class
# Log file
*.log
# BlueJ files
*.ctxt
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Gradle
.gradle
.gradle_user_home
/build/
/target/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
.gradletasknamecache

# Editors & IDEs
.idea/
cmake-build-debug/
cmake-build-release/
*.iws
*.iml
*.ipr
out/
.idea_modules/
atlassian-ide-plugin.xml
# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
# MS
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
.classpath
.project
.settings

# OSX
.DS_Store

bin/
