// Form group

// Tee registration page has a longer form, which is why the designer
// has used a smaller spacing for it. Most forms in this app are short
// so we are treating the condensed form as a special case.

#kc-register-form .hs-form-group {
  &:not(:last-child) {
    margin-bottom: $spacing-layout-m;
  }
}

// Custom block
// On the login form that contains a password reset button.
#hs-reset-password {
  padding-bottom: $spacing-layout-xs;
  // Overrides default margin for form-group. This may end up being a
  // naive solution in the long run.
  margin-bottom: $spacing-s;
}

#kc-form-buttons {
  padding: 0;

  > a {
    margin-top: $spacing-layout-xs;
  }

  > a.evaka-link__a {
    margin-top: 32px;
  }
}

#kc-form-login {
  #hs-reset-password {
    margin-top: 40px;
  }
}

.evaka-link__a {
  display: block;
  text-align: center;
}

.kc-dropdown-item {
  list-style: none;
}
