@import "../theme";
@import "../shared/custom";

$card-padding-mobile: $spacing-layout-l;
$card-padding-tablet: $spacing-layout-xxl;

// Override the default background image with a solid color
.login-pf {
  background: $page-background;
}
.login-pf body {
  background: none;
}

// Use correct typography for page title
#kc-page-title {
  margin: 0;
  font-family: $font-base;
  font-size: $fontsize-h-3;
  text-align: unset;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  color: $color-primary-dark;
  hyphens: manual;

  @media (min-width: $breakpoint-tablet) {
    font-size: $fontsize-h-1;
  }
}

// Ignore top padding on mobile views.
.login-pf-page {
  @media (max-width: #{$breakpoint-tablet - 1}) {
    padding-top: 0;
  }
}

// Use correct whitespace for login page
.login-pf-page .card-pf {
  padding: 0;
}
.login-pf-page .login-pf-header {
  margin-bottom: 0;
  padding: $card-padding-mobile $card-padding-mobile 0;

  @media (min-width: $breakpoint-tablet) {
    padding: 40px $card-padding-tablet 0;
  }
}
.login-pf-page #kc-content {
  padding: 0 $card-padding-mobile;

  &:last-child {
    padding-bottom: $card-padding-mobile;
  }

  @media (min-width: $breakpoint-tablet) {
    padding: 0 $card-padding-tablet;

    &:last-child {
      padding-bottom: $card-padding-tablet;
    }
  }
}

.card-pf {
  max-width: 550px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top: none;
}

// Unset text-align in order to ignore centered text
.login-pf-page .login-pf-signup {
  text-align: unset;
}

// Ignore margin that is used for inlined elements in original theme.
.login-pf-page .login-pf-signup a {
  margin-left: unset;
}

// Ignore margin that is used to separate form elements from info
// elements
.login-pf-page .login-pf-signup {
  margin: unset;
}

// Ignore margin that breaks padding. It's on an element that should be
// the last element on pages. If it ends up not being that, set a margin
// with &:not(:last-child).
#kc-registration {
  margin-bottom: unset;
}

// Set alert icon size to match that in design files
.hds-notification .pficon {
  position: relative;
  bottom: -4px; // Center vertically
  width: 24px;
  height: 24px;
  margin-right: $spacing-s;

  font-size: 24px;
}

// Use hs-p style for instructions
.instruction {
  @extend .hs-p;
}

// Remove bottom border that is applied by custom a rules
#kc-current-locale-link {
  border-bottom: none;
  font-family: $font-alternate;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
#kc-locale ul li a {
  border-bottom: none;
}

#kc-locale-dropdown a#kc-current-locale-link {
  font-weight: 600;
  color: $color-gray-dark;
}

// Resolve keycloak link styles that conflict with hs styles
.login-pf a:hover {
  color: $color-primary;
  text-decoration: none;
}

// Stop language menu from creating unnecessary padding before title
// and logo.
// Set header as relative, so language menu can be positioned absolutely
// in terms of it.
.login-pf-header {
  position: relative;
}
// Position language menu absolutely in the top right corner of header.
#kc-locale {
  position: absolute;
  top: 24px;
  right: 24px;
}

#kc-form-wrapper {
  display: flex;

  form {
    width: 100%;
  }
}

#kc-content-wrapper {
  margin-top: 0;
}
