/*
 * SPDX-FileCopyrightText: 2017-2020 City of Espoo
 *
 * SPDX-License-Identifier: LGPL-2.1-or-later
 */

.fee-decision-details-page {
  .close-container {
    margin-top: 30px;
    margin-bottom: -10px;
  }

  .buttons {
    margin: 32px 16px;
    margin-bottom: 0;
    justify-content: flex-end;
  }
}
