/*
 * SPDX-FileCopyrightText: 2017-2020 City of Espoo
 *
 * SPDX-License-Identifier: LGPL-2.1-or-later
 */

.income-summary {
  .label-value-list {
    margin-bottom: 2em;
  }

  .income-person-list {
    display: flex;
    flex-direction: column;
  }

  .income-person-value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px;

    .money {
      white-space: nowrap;
    }
  }

  .part-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 0.6em;
    margin-left: 5vw;
    margin-right: 30px;
  }

  .total-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 30px;
    background: ghostwhite;

    &.slim {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}
